<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/find_id_pw.css}"/>

</head>
<!-- default_layout.html에 정의한 main page 부분 -->
<body layout:fragment="content">
	<div class="content bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 contents bg-white" style="padding-left: 30px;">
					<div class="col-md-8-custom fint_input">
						<img src="../images/logo.png" alt="" />
						<div class="mb-4">						
						<p>아이디 찾기</p>
						</div>
						<!-- <span>이름</span> -->
						<div class="form-group last mb-4">
							<label for="mnameID" id="nameTxt">이름을 입력해주세요</label> 
							<input type="text" class="form-control" name="mnameID" id="mnameID">
						</div>
						<!-- <span>핸드폰 번호</span> -->
						<div class="form-group last mb-4">
							<label for="mphoneID" id="phoneTxt">핸드폰번호를 입력해주세요 (번호만 입력)</label>
							<select name="countryCode" id="countryCode"  class="select_add" style="width:115px;">
									<optgroup label="Other countries">
									<option value="">--선택--</option>
									<option data-countryCode="GB" value="44" >UK (+44)</option>
									<option data-countryCode="kp" value="82" >한국 (+82)</option>
									
									</optgroup>
							</select>
							<input type="text" class="form-control" name="mphoneID" id="mphoneID">
						</div>
						<button type="button" class="btn btn-block btn-primary" id="findId" style="width: 356px; margin-bottom: 20px;">아이디 찾기</button>
						<hr class="drivder">
						
						<div class="mb-4">
						<p>비밀번호 찾기</p>
						</div>
						<!-- <span>아이디</span> -->
						<div class="form-group first">
							<label for="midPwd" id="id">아이디를 입력해주세요 (5~20자 입력)</label> <input
								type="text" class="form-control" name="midPwd" id="midPwd">
						</div>
						<!-- <span>이름</span> -->
						<div class="form-group last mb-4">
							<label for="mnamePwd" id="nameTxt">이름을 입력해주세요</label> <input
								type="text" class="form-control" name="mnamePwd" id="mnamePwd">
						</div>

						<!-- <span>핸드폰 번호</span> -->
						<div class="form-group last mb-4">
							<label for="mphonePwd" id="phoneTxt">핸드폰번호를 입력해주세요 (번호만 입력)</label>
							<input type="text" class="form-control" name="mphonePwd"
								id="mphonePwd">
						</div>

						
						<button type="button" class="btn btn-block btn-primary" id="findPwd" style="width: 356px; margin-bottom: 20px;">비밀번호 찾기</button>
					</div>
				</div>
			</div>
		</div>
	</div>


<script>
	$(function(){
		// var $midPwd = $("#midPwd");
		// var $mnamePwd = $("#mnamePwd");
		// var $mphonePwd = $("#pwCountryCode")+$("#hpPw");
		
		// JS 모달
		var $findOk = new bootstrap.Modal(document.getElementById('findOk'));
		var $findNone = new bootstrap.Modal(document.getElementById('findNone'));
		
		$(document).on("click","#findId",function(){
			var $mnameID = $("#mnameID");
			
			var $countryCode = $("#countryCode").val();
			var $mphoneID = $("#mphoneID").val();
			var phoneNumber = $countryCode + $mphoneID;
			
			//var $idText = $("#idText");
			
 			$.ajax({
				type : "POST",
				url : "/user/findMemberId",
				data : {
						"mnameID" : $mnameID,
						"phoneNumber" :phoneNumber
						},
				success : function(data){
					if(data == 0){
						console.log("없음!")
						$findNone.show();
					}else{
						console.log("data :"+data)
						$idText.text("회원님의 아이디 : "+data)
						$idText.css({
							"color" : "#0D6EFD",
							"font-weight" : "bold",
							"font-size" : "10px"
						})
						$findOk.show();	
					}
				}
			});
		});
		
		$("#findPwd").click(function(){
			
			$.ajax({
				type : "POST",
				url : "/user/findMemberPwd",
				data : {
					"mid" : $midPwd.val(),
					"mname" : $mnamePwd.val(),
					"mphone" : $mphonePwd.val()
				},
				success : function(data){
					if(data == ""){
						//console.log("없음!")
						$findNone.show();
					}else{
						//console.log("data :"+data)
						$idText.text("회원님의 임시 비밀번호를 이메일로 발송하였습니다. 확인부탁드립니다.");
						$idText.css({
							"color" : "#0D6EFD",
							"font-weight" : "bold",
							"font-size" : "10px"
						})
						$findOk.show();	
					}
				}
			});
		});
	});
</script>
<div class="modal fade" id="findOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">계정 정보 확인</h4>
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		  <div class="container-fluid">
		    <div class="row">
		      <div class="col-sm-9">
		        <div class="row">
		          <p id="idText"></p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
      <div class="modal-footer">
        <a th:href="@{/user/loginForm}"><button type="button" class="btn btn-default">로그인 화면으로 돌아가기</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="findNone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">계정 정보 확인</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		  <div class="container-fluid">
		    <div class="row">
		      <div class="col-sm-9">
		        <div class="row">
		          <p id="idText">계정 정보를 확인 할 수 없습니다</p>
		          <p id="idText">정확한 정보를 확인 후 다시 입력해주세요</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
      <div class="modal-footer">
        <a th:href="@{/user/loginForm}"><button type="button" class="btn btn-default">로그인 화면으로 돌아가기</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>		

	</body>
</html>