<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<body layout:fragment="content">


	<div align="center">
	
	<h2 style="font-family: serif; margin-right: auto; width: 59%;">공지사항 등록</h2>
	
		<form name="form1" id="regNoticeForm" th:action="@{/noticeRegister}" method="post">
			<table border="1" style="width: 51%">
				<tbody>
					<tr>
						<td style="padding: 18px 13px; width: 13%"></td>
						<td style="padding-left: 18px;">
							<input id="noticeImportant" name="noticeImportant" type="checkbox" value="[공지]"> [공지] 등록 여부
							
						</td>
					</tr>
					<tr>
						<td scope="row" style="padding: 18px 13px;"><b>제목 </b></td>
						<td style="padding-left: 18px;">
							<input type="text" style="width: 90%;" id="noticeTitle" name="noticeTitle">
						</td>
					</tr>
					<tr>
						<td style="padding: 18px 13px; vertical-align: top;"><b>내용</b></td>
						<td>
							<textarea style="width: 90%; height: 10cm; margin: 18px;" id="noticeContent" name="noticeContent"></textarea>
						</td>
					</tr>
					<tr>
						<td style="padding: 18px 13px;"><b>파일첨부</b></td>
						<td>
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf">
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf">
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf">
							<p style="margin-left: 18px; color: #FAC6C6">* 10MB 이하의 파일 3개 까지 첨부하실 수 있으며 jpg, png, gif, pdf 파일형식만 첨부하실 수 있습니다.</p>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="width: 51%; margin-top: 10px"align="right"><button type="submit" style="margin-left: auto;">공지사항 등록</button></div>
		</form>
		
	</div>

</body>
</html>