<div class="shipping_important_text">
	<div class="title">- 오류입고(특수포장)</div>
	<div class="text_box">
		<div class="text1">상품이 물류센터에 도착했을 때, 파손이나 분실 등 문제가 발생되는 경우 ‘오류입고<span style="color:#ff9520;font-weight:bold;">(확인요청)</span>’으로 안내가 진행됩니다.</div>
		<div class="text1">오류입고건 관련 원하시는 사항을 고객님 요청사항 또는 1:1 게시판으로 알려주시기 바랍니다.</div>
		<div class="text1">‘확인요청’ 의 내용을 확인하신 후 발송 요청<span style="color:#ff9520;font-weight:bold;">(수령버튼 클릭)</span>이나 반품 또는 고객센터로 문의해주시기 바랍니다.</div>
		<div class="text1">(미작성 입고)로 표시된 건은 입고 후 배송신청서 작성 또는 트래킹 번호가 입력된 것으로, 입고와 출고가 영업일 기준 7일 이상 지연될 수 있습니다.</div>
	</div>
</div>