<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

</head>


<body onload="init();">
	<form id="form" name="form" method="post">
	   <input type="hidden" id="confmKey" name="confmKey" value=""/>
	  <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
	  <input type="hidden" id="resultType" name="resultType" value=""/>

	    <!--/*@thymesVar id="inputYn" type=""*/-->
	    <input type="hidden" id="inputYn" name="inputYn" th:value="${inputYn}" />
	    <!--/*@thymesVar id="zipNo" type=""*/-->
	    <input type="hidden" id="zipNo" name="zipNo" th:value="${zipNo}" />
	    <!--/*@thymesVar id="roadAddrPart1" type=""*/-->
	    <input type="hidden" id="roadAddrPart1" name="roadAddrPart1" th:value="${roadAddrPart1}" />
	    <!--/*@thymesVar id="roadAddrPart2" type=""*/-->
	    <input type="hidden" id="roadAddrPart2" name="roadAddrPart2" th:value="${roadAddrPart2}" />
	    <!--/*@thymesVar id="jibunAddr" type=""*/-->
	    <input type="hidden" id="jibunAddr" name="jibunAddr" th:value="${jibunAddr}" />
	    <!--/*@thymesVar id="addrDetail" type=""*/-->
	    <input type="hidden" id="addrDetail" name="addrDetail" th:value="${addrDetail}" />
	<!--  &lt;!&ndash; <input type="hidden" id="encodingType" name="encodingType" value="EUC-KR"/> &ndash;&gt;-->
  </form>
  



</body>

<script>
  function init(){
	 
	 var url = location.href;
     var confmKey = "devU01TX0FVVEgyMDIyMTAxOTE2MDcyNDExMzExMDM="
    	 
     var resultType = "4";
     var inputYn = $("input[name=inputYn]").val();
    alert(inputYn)	
     if (inputYn != "Y") {
    	
        document.form.confmKey.value = confmKey;
        document.form.returnUrl.value = url;
        document.form.resultType.value = resultType;
        document.form.action = "https://business.juso.go.kr/addrlink/addrLinkUrl.do";
        document.form.submit();
       
      }else {
    	
        opener.jusoCallBack("${roadFullAddr}");
        window.close();
      }
  }
</script>
</html>