<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout_sidebar.html}">

	<!-- default_layout.html에 정의한 main page 부분 -->
	<body layout:fragment="content">
		
			
        <!-- code -->
        	<div class="right_text">

				<div class="sub_navi_text"> 
					<div>HOME &nbsp;>&nbsp; 마이페이지 &nbsp;>&nbsp; <b>회원정보수정</b></div>
				</div>
		
				<div class="sub_title_main">- 회원정보수정 신청서 작성</div>
				
				<form name="form1" id="form1" method="get" action="#">
					<input type="hidden" name="action_type" value="MemEdit">
					<input type="hidden" name="auth_num" value="">
		
					<table class="input_table" style="width:100%;" >
						<colgroup>
							<col width="15%"/><col width="35%"/>
							<col width="15%"/><col width="35%"/>
						</colgroup>
						<tbody>
							<tr>
								<th class="td1">아이디</th>
								<td class="td2" colspan="3">#</td> 
							</tr>   
							<tr>
								<th class="td1">추천인</th>
								<td class="td2"></td>
								<th class="td1">로그인횟수</th>
								<td class="td2 select_add">	#</td>
							</tr>
							<tr>
								<th class="td1">가입일</th>
								<td class="td2">#</td>
								<th class="td1">마지막접속일</th>
								<td class="td2 select_add">#</td>
							</tr>
							<tr>
								<th class="td1">닉네임</th>
								<td class="td2">#</td>
								<th class="td1">생년월일</th>
								<td class="td2 select_add">#</td>
							</tr>
							<tr>
								<th class="td1">이름</th>
								<td class="td2">#</td>
								<th class="td1">영문이름 <span class="required-addon">*</span></th>
								<td class="td2"><input type="text" name="name_eng" id="name_eng" maxlength="30" class="input_add" value="#" />	
								</td>
							</tr>   
							<tr>
								<th class="td1">변경할 비밀번호</th>
								<td class="td2">
									<input type="password" name="user_pwd" id="user_pwd" maxlength="20" class="input_add" value="" />
									
								</td>
								<th class="td1">비밀번호 확인</th>
								<td class="td2">
									<input type="password" name="user_repwd" id="user_repwd" maxlength="20" class="input_add" value="" />
									
								</td>
							</tr>   
							<tr> 
								<th class="td1">휴대폰 <span class="required-addon">*</span></th>
								<td class="td2 hp">
					
									<div >
										<div class="mb-1">
										<select name='hp1' id='hp1' class="select_add">
										<option value='010' selected >010</option>
										<option value='011'  >011</option>
										<option value='016'  >016</option>
										<option value='017'  >017</option>
										<option value='018'  >018</option>
										<option value='019'  >019</option>
										</select> - 
										<input type="text" name="hp2" id="hp2" value="" maxlength="4" style="width:50px;" class="input_add" onchange="this.value=this.value.replace(/[^0-9]/g,'');" /> - 
										<input type="text" name="hp3" id="hp3" value="" maxlength="4" style="width:50px;" class="input_add" onchange="this.value=this.value.replace(/[^0-9]/g,'');" />
										</div>
										<div class="save_bt"><a href="javascript:fnMobSmsAuthSend();">인증</a></div>
																		
										
									</div>
								</td>
								<th class="td1">전화번호</th>
								<td class="td2">
									<input type="text" name="tel1" id="tel1" maxlength="4" style="width:40px;" class="input_add" value="" onchange="this.value=this.value.replace(/[^0-9]/g,'');" /> - 
									<input type="text" name="tel2" id="tel2" maxlength="4" style="width:50px;" class="input_add" value="" onchange="this.value=this.value.replace(/[^0-9]/g,'');" /> - 
									<input type="text" name="tel3" id="tel3" maxlength="4" style="width:50px;" class="input_add" value="" onchange="this.value=this.value.replace(/[^0-9]/g,'');" /> 
								</td>
							</tr>
							
							<tr> 
								<th class="td1">이메일 수신</th>
								<td class="td2">
									<label><input type="radio" name="email_flag" id="email_flag_y" class="input_chk2" value="Y"  /> 예</label> &nbsp;
									<label><input type="radio" name="email_flag" id="email_flag_n" class="input_chk2" value="N" checked /> 아니오</label>
								</td>
								<th class="td1">SMS 수신</th>
								<td class="td2">
									<label><input type="radio" name="sms_flag" id="sms_flag_y" class="input_chk2" value="Y" checked /> 예</label> &nbsp;
									<label><input type="radio" name="sms_flag" id="sms_flag_n" class="input_chk2" value="N"  /> 아니오</label>
								</td>
							</tr>  
							 <tr>
								<th class="td1">이메일 <span class="required-addon">*</span></th>
								<td class="td2" colspan="3">
									<input type="text" id="email1" name="email1" maxlength="30" class="input_add" value="0504lkh" />&nbsp @ &nbsp; 
									<input type="text" id="email2" name="email2" maxlength="30" class="input_add" value="naver.com" />&nbsp;
									<select name="selEmail" id="selEmail" class="select_add"> 
									<option value=''>직접입력</option>
									<option value='naver.com' selected >naver.com</option>
									<option value='hanmail.net'  >hanmail.net</option>
									<option value='hotmail.com'  >hotmail.com</option>
									<option value='daum.net'  >daum.net</option>
									<option value='nate.com'  >nate.com</option>
									<option value='gmail.com'  >gmail.com</option>
									</select>&nbsp;&nbsp;
									
									<div id="email1-errmsg"></div><div id="email2-errmsg"></div><div id="selEmail-errmsg"></div><div id="email-errmsg"></div>
								</td>
							</tr>    
														
						</tbody>
											
						
						
					</table>
					
					<table class="mt-3">
					
						<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;margin:0 auto;">
							  <tr>
							    <td align="right" style="width:60%;padding-right:50px;">
									<button type="submit"  class="next_button" style="color:black">회원수정</button>
									<button type="button" onClick="location.href='/';" class="cancel_button" style="color:black">취소</button>
								</td>
								<td align="right" style="width:*;"><button type="button" onClick="dropMem()" class="ok_button" style="color:black">탈퇴하기</button></td>
							  </tr>
						</table>	
					</table>
					
					
				</form>
				
				
			</div>
			
			
			
			
		
	</body>
</html>