<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout_sidebar.html}">

	<!-- default_layout.html에 정의한 main page 부분 -->
	<body layout:fragment="content">
		
			
        <!-- code -->
        	<div class="right_text">

				<div class="sub_navi_text"> 
					<div>HOME &nbsp;>&nbsp; 마이페이지 &nbsp;>&nbsp; <b>나의 주소록</b></div>
				</div>
				<div class="sub_title_main">- 자주 사용하는 배송지 주소를 등록해 주세요.</div>
				<form action='#' method='post' target='_blank'>
					<input type=hidden name='where' value=" # ">
						<div class="page-info">
							<span>
								<button type="button" onClick="javascript:screenPop('/myaddr_form.html?menu_popup_flag=Y','myaddr_form','yes',800,300)" style="height:25px;width:50px; color:black;">등록</button>
								<button type="button" OnClick="item_delete(1);"  style="height:25px;width:50px; color:black;">삭제</button>
							</span>
							<span style="float:right!important;vertical-align:bottom;">
								전체 : <strong>0</strong> ( 1 / 0 페이지)<strong class="color-blue" style="padding-left:20px;"></strong><strong class="color-red select-cnt" style="padding-left:20px;"></strong>
							</span>
						</div>
				</form>

				<form name='frmMain' method='get' action='#'>
					<input type='hidden' name='action_type'>
					<table border='1' bordercolor='black' bordercolorlight='#97D1D2' cellspacing="0" class="type-row type-wordbreak type-align-center type-bordered type-background-thead type-content" summary="">
						<colgroup>
							<col width="5%" />
							<col width="5%" />
							<col width="12%" />
							<col width="*" />
							<col width="20%" />
							<col width="10%" />
						</colgroup>
						<thead>
							<tr>
								<th><input type="checkbox" name="allCheck" /></th>
								<th style="width: 45px;">
									<div class="item">No.</div>
								</th>
								<th>
									<div class="item">이름</div>
								</th>
								<th>
									<div class="item">주소</div>
								</th>
								<th>
									<div class="item">전화번호</div>
								</th>
								<th>
									<div class="item">수정</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr valign=middle bgcolor='#FFFFFF'><td colspan='6' align=center><b>데이터가 존재하지 않습니다</b></td></tr>      			
						</tbody>
							</table>
				</form>
		
				<div class="pagination a1">
					<span class='direction prev'><a style="color:black;" href='javascript:NaviForm(1)'>&laquo; 처음&nbsp;</a></span>###
		          <span class='direction next'><a style="color:black;" href='javascript:NaviForm(1)'>&nbsp;끝 &raquo;</a></span>		
				</div>
		
			</div>
		
	</body>
</html>