<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<!-- <head>
<style>
	
	th{
		border-bottom-radius: 10px;
		background-color: #f5f5f5;
	}
	
	a{
		font-size:12px; 
		font-weight:bold;
	}
</style>
</head> -->
<th:block layout:fragment="content">	
	<div align="center">
		<h3 th:text="${title}"></h3>
		
	</div>
</th:block>
</html>