<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<!-- <head>
<style>
	
	th{
		border-bottom-radius: 10px;
		background-color: #f5f5f5;
	}
	
	a{
		font-size:12px; 
		font-weight:bold;
	}
</style>
</head> -->
<th:block layout:fragment="content">	
	<div align="center">
		<h5 th:text="${title}"></h5>
		<div>
			<p style="border-bottom: 1px solid #dddddd; width: 80%">이용후기 게시판입니다.</p>
			<table width="50%"class="schedule_board_list">
				<tr>
					<th class="number">번호</th>
					<th class="subject">제목</th>
					<th>아이디</th>
					<th class="hit">조회수</th>
					<th class="date">등록일</th>
				</tr>
				<tbody>
					<tr th:if="${not #lists.isEmpty(reviewList)}" th:each="l : ${reviewList}">
						<td class="number" th:text="${l.communityNum}"></td>
						<td class="subject"><a th:href="@{/reviewInfo(communityNum=${l.communityNum})}" th:text="${l.communityTitle}"></a></td>
						<td th:text="${l.communityId}"></td>
						<td class="hit" th:text="${l.communityView}"></td>
						<td class="date" th:text="${l.communityDate}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</th:block>
</html>