<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
	
<body layout:fragment="content">
	<div align="center">
	
		<div style="width: 12%">
			<h2 align="left" style="text-decoration: underline;">자주하는 질문</h2>
		</div>
		<div id="faqSearchBox"   style="width: 50%;" align="left">
				<div class="faqSortM" style="width: 15%;   float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						배송대행 신청
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 신청서작성</b></a></li>
						<li><a href="#"><b>- 묶음배송</b></a></li>
						<li><a href="#"><b>- 트랙킹번호</b></a></li>
						<li><a href="#"><b>- 쿠폰사용방법</b></a></li>
						<li><a href="#"><b>- 부가서비스</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						구매대행 신청
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 구매대행이란</b></a></li>
						<li><a href="#"><b>- 구매대행 기간</b></a></li>
						<li><a href="#"><b>- 구매불가 사이트</b></a></li>
						<li><a href="#"><b>- 구매대행 수수료</b></a></li>
						<li><a href="#"><b>- 구매대행 취소</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						입고
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 노데이터</b></a></li>
						<li><a href="#"><b>- 부피무게</b></a></li>
						<li><a href="#"><b>- 일반우편물</b></a></li>
						<li><a href="#"><b>- 입고/검수</b></a></li>
						<li><a href="#"><b>- 사서함누락</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						출고
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 출고보류</b></a></li>
						<li><a href="#"><b>- 출고가 안돼요</b></a></li>
						<li><a href="#"><b>- 전자기기 제한</b></a></li>
						<li><a href="#"><b>- 오프로드</b></a></li>
						<li><a href="#"><b>- 수취인변경</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						통관
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 목록/일반통관</b></a></li>
						<li><a href="#"><b>- 통관조회</b></a></li>
						<li><a href="#"><b>- 통관수수료</b></a></li>
						<li><a href="#"><b>- 관부가세</b></a></li>
						<li><a href="#"><b>- 통관 주의사항</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 10mm;">
						배송비/결제
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 배송비</b></a></li>
						<li><a href="#"><b>- 배송비 결제</b></a></li>
						<li><a href="#"><b>- 선결제</b></a></li>
						<li><a href="#"><b>- 수수료 안내</b></a></li>
						<li><a href="#"><b>- 물품 결제</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 2mm;">
						반송
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 반송신청</b></a></li>
						<li><a href="#"><b>- 수취거부</b></a></li>
						<li><a href="#"><b>- 주문취소</b></a></li>
						<li><a href="#"><b>- 주문변경</b></a></li>
						<li><a href="#"><b>- 카드환불</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 2mm;">
						회원
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 회원가입</b></a></li>
						<li><a href="#"><b>- 회원혜택</b></a></li>
						<li><a href="#"><b>- 정보변경</b></a></li>
						<li><a href="#"><b>- 회원탈퇴</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 2mm;">
						보상
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 오배송</b></a></li>
						<li><a href="#"><b>- 중량보상</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 2mm;">
						기타
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 창고보관료</b></a></li>
						<li><a href="#"><b>- 비회원주문</b></a></li>
						<li><a href="#"><b>- 이벤트</b></a></li>
						<li><a href="#"><b>- CS 운영시간</b></a></li>
					</ul>
				</div>
				<div class="faqSortM" style="width: 15%;  float: left;">
					<div class="faqSort" align="center" style="margin-top: 2mm;">
						제휴 제안
					</div>
					<ul class="faqSortList">
						<li><a href="#"><b>- 제휴 제안</b></a></li>
					</ul>
				</div>
			<div class="faqSortM" style="width: 15%; float: left;">
				<div class="faqSort" align="center" style="margin-top: 2mm;">
					여분
				</div>
				<ul class="faqSortList">
					<li><a href="#"><b>- </b></a></li>
					<li><a href="#"><b>- </b></a></li>
					<li><a href="#"><b>- </b></a></li>
					<li><a href="#"><b>- </b></a></li>
					<li><a href="#"><b>- </b></a></li>
				</ul>
			</div>
			<div style="clear: both; text-align: right; margin-right: 17mm;"><a th:href="@{/faqRegister}"><button type="button" style="border-radius: 3px; border: solid 1px gray; font-size: 10px">글쓰기</button></a></div>
		</div>
	</div>
</body>
</html>