<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<body layout:fragment="content">
		
	<div align="center">
		
		<div style="width: 55%">
			<h2 align="left">공지사항</h2>
			<hr style="height: 1px; background: gray;">
		</div>
		
		<table width="55%">

		<tbody><tr>
		  <td align="center">
		
			<table width="100%"class="schedule_board_list">
			  <tbody><tr>
				<th class="number">번호</th>
				<th class="subject">제목</th>
				<th class="hit">조회</th>
				<th class="date">등록일</th>
			  </tr>
			  <tr>
				<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
				<td class="subject"> <a th:href="@{/noticeSearchRead}"><b>저희 정상 영업 합니다.</b></a> </td>
				<td class="hit">1508</td>
				<td class="date">2022-09-16</td>
			  </tr>
			  <tr>
				<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
				<td class="subject"> <a href="#"><b>[공지] 9월 14일 한국 출고분 파샬 안내</b></a> </td>
				<td class="hit">362</td>
				<td class="date">2022-09-16</td>
			  </tr>
			  <tr>
				<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
				<td class="subject"> <a href="#"><b>likey와 함께하는 부피 할인 이벤트!! (~9/16)</b></a> </td>
				<td class="hit">226</td>
				<td class="date">2022-08-11</td>
			  </tr>

			  <tr>
				<td class="number">103</td>
				<td class="subject"> <a href="#">미국 출발 항공 예상 스케줄 안내 (2022.8.29-2022.9.2)</a> </td>
				<td class="hit">349</td>
				<td class="date">2022-08-26</td>
			  </tr>
			  <tr>
				<td class="number">102</td>
				<td class="subject"> <a href="#">[공지] 9월 5일 미국 노동절 휴무 안내</a> </td>
				<td class="hit">133</td>
				<td class="date">2022-08-25</td>
			  </tr>
			  <tr>
				<td class="number">101</td>
				<td class="subject"> <a href="#">[공지] 2022년 추석연휴 업무 일정 관련 안내</a> </td>
				<td class="hit">140</td>
				<td class="date">2022-08-25</td>
			  </tr>
			  <tr>
				<td class="number">100</td>
				<td class="subject"> <a href="#">미국 출발 항공 예상 스케줄 안내 (2022.8.22-2022.8.26)</a> </td>
				<td class="hit">294</td>
				<td class="date">2022-08-19</td>
			  </tr>
			  <tr>
				<td class="number">99</td>
				<td class="subject"> <a href="">[공지] 8월 16일 출고분 오프로드 안내</a> </td>
				<td class="hit">136</td>
				<td class="date">2022-08-17</td>
			  </tr>
		    </tbody></table>
		
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
		      <tbody><tr><td height="10"></td></tr>
		    </tbody></table>
		
		
		    <table border="0" cellspacing="0" cellpadding="0" width="100%">
		      <tbody><tr>
		        <td width="70%" id="notice_page_move">
		        &nbsp; <b>1</b>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=2&amp;mode=list&amp;query_field=&amp;query_key=">2</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=3&amp;mode=list&amp;query_field=&amp;query_key=">3</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=4&amp;mode=list&amp;query_field=&amp;query_key=">4</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=5&amp;mode=list&amp;query_field=&amp;query_key=">5</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=6&amp;mode=list&amp;query_field=&amp;query_key=">6</a>&nbsp; 
		        </td>
		        <td align="right" width="30%">
		           <a th:href="@{/noticeRegister}"><button type="button" style="color: black; border-radius: 3px; border: solid 1px gray; font-size: 10px" >글쓰기</button></a>
		        </td>
		      </tr>
		    </tbody></table>
		
		    <table border="0" cellspacing="0" cellpadding="0" width="100%">
		      <tbody><tr>
		        <td></td>
		        <td align="center">
		          <form name="search" method="post" action="/bbs.php">
		          <input type="hidden" name="mode" value="list">
		          <input type="hidden" name="board_id" value="notice">
		          <input type="hidden" name="sub_type_parm" value="">
		          <select>
		          	<option>제목</option>
		          	<option>내용</option>
		          	<option>제목 or 내용</option>
		          </select>
		          <input type="text" name="query_key" size="25" value="" class="input" style="height: 24px">
		          <button type="button" style="color: black; border-radius: 3px; border: solid 1px gray;" >검색</button>
		        </form></td>
		      </tr>
		    </tbody></table>
		
		
		  </td>
		</tr>
		</tbody></table>
	</div>
</body>
</html>