<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<body layout:fragment="content">
		
		<div align="center">
		
<table border="0" width="55%" cellspacing="0" cellpadding="0">

<tbody><tr>
  <td align="center">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="schedule_board_list">
	  <tbody><tr>
		<th class="number">번호</th>
		<th class="subject">제목</th>
		<th class="hit">조회</th>
		<th class="date">등록일</th>
	  </tr>

	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=113&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>미국 출발 항공 예상 스케줄 안내 (2022.9.19-2022.9.23)</b></a> </td>
		<td class="hit">1508</td>
		<td class="date">2022-09-16</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=112&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] 9월 14일 한국 출고분 파샬 안내</b></a> </td>
		<td class="hit">362</td>
		<td class="date">2022-09-16</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=99&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>likey와 함께하는 부피 할인 이벤트!! (~9/16)</b></a> </td>
		<td class="hit">226</td>
		<td class="date">2022-08-11</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=98&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>델라웨어 픽업 수수료 무료 이벤트!! [~9/30 도착건으로 연장]</b></a> </td>
		<td class="hit">213</td>
		<td class="date">2022-08-11</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=89&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] 우체국 택배 일요일 집하 업무 휴무 안내_수정 사항 추가 안내</b></a> </td>
		<td class="hit">197</td>
		<td class="date">2022-07-04</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=86&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] likey 변경된 요율 및 likey패스 [1LBS $6.99] 관련 안내</b></a> </td>
		<td class="hit">333</td>
		<td class="date">2022-06-30</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=79&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] 전파법 적용 기기의 목록배제 안내</b></a> </td>
		<td class="hit">340</td>
		<td class="date">2022-06-09</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=73&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] 개인통관고유부호와 성명,전화번호 검증 강화 안내</b></a> </td>
		<td class="hit">305</td>
		<td class="date">2022-05-18</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=9&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>[공지] 요소수 적재 및 배송 불가 안내</b></a> </td>
		<td class="hit">682</td>
		<td class="date">2021-11-08</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=7&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>대신화물 택배 일부 지역 배송 불가 안내</b></a> </td>
		<td class="hit">748</td>
		<td class="date">2021-11-04</td>
	  </tr>
	  <tr>
		<td class="number"><span style="font-size:12px; font-weight:bold;">[공지]</span></td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=2&amp;num=&amp;page=&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer="><b>우체국 택배 장축화물 취급 제한 안내(장축:골프채, 야구배트, 우산 등)</b></a> </td>
		<td class="hit">908</td>
		<td class="date">2021-10-20</td>
	  </tr>
	  <tr>
		<td class="number">109</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=113&amp;num=109&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.9.19-2022.9.23)</a> </td>
		<td class="hit">1508</td>
		<td class="date">2022-09-16</td>
	  </tr>
	  <tr>
		<td class="number">108</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=112&amp;num=108&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 9월 14일 한국 출고분 파샬 안내</a> </td>
		<td class="hit">362</td>
		<td class="date">2022-09-16</td>
	  </tr>
	  <tr>
		<td class="number">107</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=111&amp;num=107&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">9월 8일 한국행 출고분 항공 스케줄 지연 안내</a> </td>
		<td class="hit">369</td>
		<td class="date">2022-09-10</td>
	  </tr>
	  <tr>
		<td class="number">106</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=110&amp;num=106&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.9.12-2022.9.16)</a> </td>
		<td class="hit">705</td>
		<td class="date">2022-09-09</td>
	  </tr>
	  <tr>
		<td class="number">105</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=109&amp;num=105&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.9.5-2022.9.9)</a> </td>
		<td class="hit">442</td>
		<td class="date">2022-09-02</td>
	  </tr>
	  <tr>
		<td class="number">104</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=108&amp;num=104&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[한국] 제주도 및 남해, 서해 일부 배송지연 예상 안내</a> </td>
		<td class="hit">90</td>
		<td class="date">2022-09-02</td>
	  </tr>
	  <tr>
		<td class="number">103</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=107&amp;num=103&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.8.29-2022.9.2)</a> </td>
		<td class="hit">349</td>
		<td class="date">2022-08-26</td>
	  </tr>
	  <tr>
		<td class="number">102</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=106&amp;num=102&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 9월 5일 미국 노동절 휴무 안내</a> </td>
		<td class="hit">133</td>
		<td class="date">2022-08-25</td>
	  </tr>
	  <tr>
		<td class="number">101</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=105&amp;num=101&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 2022년 추석연휴 업무 일정 관련 안내</a> </td>
		<td class="hit">140</td>
		<td class="date">2022-08-25</td>
	  </tr>
	  <tr>
		<td class="number">100</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=104&amp;num=100&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.8.22-2022.8.26)</a> </td>
		<td class="hit">294</td>
		<td class="date">2022-08-19</td>
	  </tr>
	  <tr>
		<td class="number">99</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=103&amp;num=99&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 8월 16일 출고분 오프로드 안내</a> </td>
		<td class="hit">136</td>
		<td class="date">2022-08-17</td>
	  </tr>
	  <tr>
		<td class="number">98</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=102&amp;num=98&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 8/17(수)~8/19(금) 유선상담 불가 안내</a> </td>
		<td class="hit">94</td>
		<td class="date">2022-08-16</td>
	  </tr>
	  <tr>
		<td class="number">97</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=101&amp;num=97&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.8.15-2022.8.19)</a> </td>
		<td class="hit">310</td>
		<td class="date">2022-08-12</td>
	  </tr>
	  <tr>
		<td class="number">96</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=100&amp;num=96&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 광복절(8월 15일 월) 휴무 업무 안내</a> </td>
		<td class="hit">106</td>
		<td class="date">2022-08-12</td>
	  </tr>
	  <tr>
		<td class="number">95</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=99&amp;num=95&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">likey와 함께하는 부피 할인 이벤트!! (~9/16)</a> </td>
		<td class="hit">226</td>
		<td class="date">2022-08-11</td>
	  </tr>
	  <tr>
		<td class="number">94</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=98&amp;num=94&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">델라웨어 픽업 수수료 무료 이벤트!! [~9/30 도착건으로 연장]</a> </td>
		<td class="hit">213</td>
		<td class="date">2022-08-11</td>
	  </tr>
	  <tr>
		<td class="number">93</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=97&amp;num=93&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">[공지] 우체국 택배 / 수도권 폭우로 인핸 배송 지연 안내</a> </td>
		<td class="hit">78</td>
		<td class="date">2022-08-10</td>
	  </tr>
	  <tr>
		<td class="number">92</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=96&amp;num=92&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.8.8-2022.8.12)</a> </td>
		<td class="hit">225</td>
		<td class="date">2022-08-05</td>
	  </tr>
	  <tr>
		<td class="number">91</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=95&amp;num=91&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.8.1-2022.8.5)</a> </td>
		<td class="hit">346</td>
		<td class="date">2022-07-29</td>
	  </tr>
	  <tr>
		<td class="number">90</td>
		<td class="subject"> <a href="/bbs.php?board_id=notice&amp;mode=view&amp;row_id=94&amp;num=90&amp;page=1&amp;query_field=&amp;query_key=&amp;sub_type_parm=&amp;s_title=&amp;s_desc=&amp;s_writer=">미국 출발 항공 예상 스케줄 안내 (2022.7.25-2022.7.29)</a> </td>
		<td class="hit">292</td>
		<td class="date">2022-07-22</td>
	  </tr>
    </tbody></table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody><tr><td height="10"></td></tr>
    </tbody></table>


    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody><tr>
        <td width="70%" id="notice_page_move">
        &nbsp; <b>1</b>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=2&amp;mode=list&amp;query_field=&amp;query_key=">2</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=3&amp;mode=list&amp;query_field=&amp;query_key=">3</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=4&amp;mode=list&amp;query_field=&amp;query_key=">4</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=5&amp;mode=list&amp;query_field=&amp;query_key=">5</a>&nbsp;    <a href="/bbs.php?board_id=notice&amp;page=6&amp;mode=list&amp;query_field=&amp;query_key=">6</a>&nbsp; 
        </td>
        <td align="right" width="30%">
           <a th:href="@{/noticeRegister}"><button type="button" style="color: black; border-radius: 3px; border: solid 1px gray; font-size: 10px" >글쓰기</button></a>
        </td>
      </tr>
    </tbody></table>

    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody><tr>
        <td></td>
        <td align="center">
          <form name="search" method="post" action="/bbs.php">
          <input type="hidden" name="mode" value="list">
          <input type="hidden" name="board_id" value="notice">
          <input type="hidden" name="sub_type_parm" value="">
          <select>
          	<option>제목</option>
          	<option>내용</option>
          	<option>제목 or 내용</option>
          </select>
          <input type="text" name="query_key" size="25" value="" class="input" style="height: 24px">
          <button type="button" style="color: black; border-radius: 3px; border: solid 1px gray;" >검색</button>
        </form></td>
      </tr>
    </tbody></table>


  </td>
</tr>
</tbody></table>
</div>
</body>
</html>