<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
      
    <!-- css 연결  -->
    <link rel="stylesheet" href="assets/css/temporarily.css">      
      
<body layout:fragment="content">


	<div align="center">
	
	<h2 style="font-family: cursive; text-decoration: underline; margin-right: auto; width: 62%;">1:1 문의</h2>
	
	
		<table border="1" style="width: 45%">
			<tbody>
				<tr>
					<td style="padding: 18px 13px;"><b>상담 분류</b></td>
					<td style="padding-left: 18px;">
						<select style="align-content: center;">
							<option>대분류 선택</option>
							<option>회원정보</option>
							<option>거래방법</option>
							<option>거래취소/신고/보류</option>
							<option>결제 및 환불</option>
							<option>서비스 이용</option>		
						</select>
					</td>
				</tr>
				<tr>
					<td style="padding: 18px 13px;"><b>제목 </b></td>
					<td style="padding-left: 18px;">
						<input type="text" style="width: 90%;">
					</td>
				</tr>
			</tbody>
		</table>	
		
	</div>

</body>
</html>