<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
      
    <!-- css 연결  -->
    <link rel="stylesheet" href="assets/css/temporarily.css">      
      
<body layout:fragment="content">


	<div align="center">
	
	<h2 style="font-family: cursive; text-decoration: underline;">1:1 문의</h2>
	
	
		<table border="0" style="width: 50%">
			<tbody>
				<tr>
					<td class="mtm_table" style="padding: 18px;"><b>상담 분류</b></td>
					<td>
						<select>
							<option>대분류 선택</option>
							<option>회원정보</option>
							<option>거래방법</option>
							<option>거래취소/신고/보류</option>
							<option>결제 및 환불</option>
							<option>서비스 이용</option>		
						</select>
					</td>
				</tr>
				<tr>
					<td class="mtm_table"><b>주문정보</b></td>
				</tr>
			</tbody>
		</table>	
		
	</div>

</body>
</html>