<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
	<link rel="stylesheet" href="assets/css/temporarily.css">
</head>

<body layout:fragment="adminContent">
	<div class="content-wrapper">
		<!-- 게시판 -->
		<table border="0" cellspacing="0" cellpadding="0" class="personal_question_list" style="width: 100%;">
		  <tbody><tr>
		    <th class="number">번호</th>
		    <th class="userId">회원아이디</th>
			<th class="subject">제목</th>
			<th class="date">등록일</th>
		  </tr>
		  <tr th:if="${not #lists.isEmpty(QuestionList)}" th:each="l : ${QuestionList}">
		    <td class="number" th:text="${l.mtmNumCode}"></td>
		    <td class="userId" th:text="${l.userId}"></td>
			<td class="subject" style="width: 30%"><a th:href="@{/personalQuestionAnswerRegister(mtmNumCode=${l.mtmNumCode})}" th:text="${l.mtmTitle}"></a></td>
			<td class="date" th:text="${l.mtmDate}"></td>
		  </tr>
		  <tr th:unless="${not #lists.isEmpty(QuestionList)}">
			<td>등록된 게시물이 없습니다.</td>
		  </tr>
		</tbody></table>
		
		<div>
			<select style="margin-left: 38%; margin-top: 5mm">
				<option>제목</option>
				<option>회원아이디</option>
				<option>내용</option>
				<option>제목+내용</option>
			</select>
			<input type="text">
			<a href="#"><button type="button">검색</button></a>
		</div>
		
		<!-- //게시판 -->
		<div style="height: 15px; margin-right: 69mm;"></div>

		<!-- 숫자 -->
		<table border="0" cellspacing="0" cellpadding="0" align="center" class="schedule_board_num">
		  <tbody><tr>
			<td class="numbering">
				<table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
				    <td><a href="#" style="color: black;">1</a>|&nbsp</td>
					<td><a href="#" style="color: black;">2</a>&nbsp|&nbsp</td>
					<td><a href="#" style="color: black;">3</a></td>
				  </tr>
				</tbody></table>
		</tbody></table>
	</div>
</body>
</html>