<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<body layout:fragment="content">
	<div align="center">
	
	
		<!--------------------------------------- start 1:1문의 게시글 읽기 ---------------------------------------------------->
		<table border="1" style="width: 50%">
			<tbody>
				<tr>
					<td style="padding: 18px 13px; width: 13%"><b>상담 분류</b></td>
					<td style="padding-left: 18px;">
						<div th:text="${QuestionRead.mtmCate}"></div>
						<div style="margin-top: 3px;">
	 						<div style="text-decoration: underline; float: left;" th:text="'회원아이디 : '+${QuestionRead.userId}"></div>
	 						<div style="font-family: inherit; text-align: right; margin-right: 11mm" th:text="'등록일  : '+${QuestionRead.mtmDate}"></div>
	 					</div>	
					</td>
				</tr>
				<tr>
					<td scope="row" style="padding: 18px 13px;"><b>제목 </b></td>
					<td style="padding-left: 18px;">
						<div th:text="${QuestionRead.mtmTitle}"></div> 
					</td>
				</tr>
				<tr>
				<td style="padding: 18px 13px; vertical-align: top;"><b>문의내용</b></td>
				<td>
					<pre style="width: 90%; height: 10cm; margin: 18px;" th:text="${QuestionRead.mtmContent}"></pre>
				</td>
				</tr>
				<tr>
					<td style="padding: 18px 13px;"><b>파일첨부</b></td>
					<td>
						<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 3mm; margin-left: 4mm; margin-bottom: 2mm" accept=".jpg, .png, .gif, .pdf">
						<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 3mm; margin-left: 4mm; margin-bottom: 2mm" accept=".jpg, .png, .gif, .pdf">
						<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;"> <input type="file" value="파일찾기" style="margin-top: 2mm; margin-left: 4mm; margin-bottom: 2mm" accept=".jpg, .png, .gif, .pdf">
						<p style="margin-left: 18px; color: #FAC6C6">* 10MB 이하의 파일 3개까지 첨부하실 수 있으며 jpg, png, gif, pdf 파일형식만 첨부하실 수 있습니다.</p>
					</td>
				</tr>
				<tr th:if="${#strings.equals(QuestionRead.mtmSituation,'답변 완료')}">
					<td style="padding: 18px 13px;"><b>답변 내용</b>
					</td>
					<td>
						<pre style="width: 90%; height: 10cm; margin: 18px;" id="mtmAnswer" th:text="${QuestionRead.mtmAnswer}"></pre>
						<div style="margin-left: 18px; margin-bottom: 2mm">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--------------------------------------- end 1:1문의 게시글 읽기 ---------------------------------------------------->
		
		<div style="width: 50%; margin-top: 3mm">
		<input id="checkState" th:value="${QuestionRead.mtmSituation}" style="display: none;">
		<a th:href="@{/myQuestionList}"><input type="button" value="목록" style="float: left;"></a>
		<input id="deleteBtn" type="button" value="삭제하기" style="float: right; margin-left: 3mm;">
		<input id="ajaxCheck" style="display: none;" th:value="${QuestionRead.mtmNumCode}">
		<a th:href="@{/myQuestionModify(mtmNumCode=${QuestionRead.mtmNumCode})}"><input id="modify" type="button" value="수정하기" style="float: right;"></a>
		</div>
	</div>
	<!--------------------------------------- start 상태가 접수가 아니면 수정버튼이 비활성화 되는 jquery  ---------------------------------------------------->
	<script type="text/javascript">
		$(document).ready(function(){
			var checkState = $('#checkState').val()
			if(checkState != '접수'){
				$('#modify').hide();
			}
		})
	</script>
	<!--------------------------------------- end 상태가 접수가 아니면 수정버튼이 비활성화 되는 jquery  ---------------------------------------------------->

	<!--------------------------------------- start 카테고리 제목 내용 빈값 확인하는 jquery  ---------------------------------------------------->
	<script type="text/javascript">
	$(document).ready(function(){
		$('#mtmSituation').click(function(){
			var checkCate = $('#mtmCate').val()
			var checkTitle = $('#mtmTitle').val()
			var checkContent = $('#mtmContent').val()
			if(checkCate == 'undefined' || checkCate == '' || checkCate == null || checkCate == ':::분류 선택:::'){
				alert('카테고리 설정을 해주세요')
				return false;
			}
		 	if(checkTitle == 'undefined' || checkTitle == '' || checkTitle == null){
			alert('문의 제목을 써 주세요')
			return false;
			}
			if(checkContent == 'undefined' || checkContent == '' || checkContent == null){
			alert('문의 내용을 써 주세요')
			return false;
			}
		})
	})
	</script>
	<!--------------------------------------- end 카테고리 제목 내용 빈값 확인하는 jquery  ---------------------------------------------------->
	
	<!--------------------------------------- start 처리 상태가 접수 인것만 삭제가 가능한 ajax  ---------------------------------------------------->
	<script type="text/javascript">
	$(document).ready(function(){
			
		$('#deleteBtn').click(function(){
			
			var mtmNumCode = $('#ajaxCheck').val()
			var checkState = $('#checkState').val()
			
			$.ajax({
				url : '/deleteQuestion',
				type : 'POST',
				data : {"mtmNumCode" : mtmNumCode},
				success : function(data){
					if(data == 1){
						window.location.replace("/myQuestionList")
					}
					if(data == 0){
						alert('처리 상태가 접수중이 아닌 문의는 삭제가 불가능 합니다.')
					}
				}
			})
		})
	})
	</script>
	<!--------------------------------------- end 처리 상태가 접수 인것만 삭제가 가능한 ajax  ---------------------------------------------------->
	
</body>
</html>