<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
	<link rel="stylesheet" href="assets/css/temporarily.css">
</head>


<body layout:fragment="adminContent">
	<div class="content-wrapper">
		<!-- 게시판 -->
	<div id="selectBoxP">		
		<select id="selectBox" name="selectBox">
			<option value="" selected>전체</option>
			<option value="option1">번호순</option>
			<option value="option2">접수</option>
			<option value="option3">답변중</option>
			<option value="option4">답변 완료</option>
		</select>
	</div>	

		<table class="personal_question_list" style="width: 100%; margin-top: 5mm">
		  <tbody><tr>
		    <th class="number" style="width: 10%">번호</th>
		    <th class="userId" style="width: 13%">회원아이디</th>
			<th class="subject">제목</th>
			<th class="date" style="width: 20%">등록일</th>
			<th class="situation" style="width: 23%">처리상태</th>
		  </tr>
 		<tr class="nomal" th:each="l : ${QuestionList}" style="display: none;">
  		    <td class="number" th:text="${l.mtmNumCode}"></td>
	    	<td class="userId" th:text="${l.userId}"></td>
			<td class="subject" style="width: 30%"><a th:href="@{/personalQuestionAnswerRegister(mtmNumCode=${l.mtmNumCode})}" th:text="${l.mtmTitle}" id="mtmSituation"></a></td>
			<td class="date" th:text="${l.mtmDate}"></td>
			<td class="date"  th:text="${l.mtmSituation}"></td>
	   	  </tr>
		<tr class="request" th:each="l : ${QuestionList}" th:if="${#strings.equals(l.mtmSituation,'접수')}">
  		    <td class="number" th:text="${l.mtmNumCode}"></td>
	    	<td class="userId" th:text="${l.userId}"></td>
			<td class="subject" style="width: 30%"><a th:href="@{/personalQuestionAnswerRegister(mtmNumCode=${l.mtmNumCode})}" th:text="${l.mtmTitle}" id="mtmSituation"></a></td>
			<td class="date" th:text="${l.mtmDate}"></td>
			<td class="date"  th:text="${l.mtmSituation}"></td>
	   	  </tr>
		   <tr class="ing" th:each="l : ${QuestionList}" th:if="${#strings.equals(l.mtmSituation,'답변중')}">
  		    <td class="number" th:text="${l.mtmNumCode}"></td>
	    	<td class="userId" th:text="${l.userId}"></td>
			<td class="subject" style="width: 30%"><a th:href="@{/personalQuestionAnswerRegister(mtmNumCode=${l.mtmNumCode})}" th:text="${l.mtmTitle}" id="mtmSituation"></a></td>
			<td class="date" th:text="${l.mtmDate}"></td>
			<td class="date"  th:text="${l.mtmSituation}"></td>	
		  </tr>
		  <tr class="end" th:each="l : ${QuestionList}" th:if="${#strings.equals(l.mtmSituation,'답변 완료')}">
		    <td class="number" th:text="${l.mtmNumCode}"></td>
	    	<td class="userId" th:text="${l.userId}"></td>
			<td class="subject" style="width: 30%"><a th:href="@{/personalQuestionAnswerRegister(mtmNumCode=${l.mtmNumCode})}" th:text="${l.mtmTitle}" id="mtmSituation"></a></td>
			<td class="date" th:text="${l.mtmDate}"></td>
			<td class="date"  th:text="${l.mtmSituation}"></td>
		  </tr>
		  <tr th:unless="${not #lists.isEmpty(QuestionList)}">
  			<td style="border-left: none;" colspan="5">등록된 게시물이 없습니다.</td>
		  </tr>
		</tbody></table>
		<div th:include="customerService/question/searchQuestion :: searchQuestion"></div>
		
		<!-- //게시판 -->

		<!-- 숫자 -->
		<table border="0" cellspacing="0" cellpadding="0" align="center" class="schedule_board_num">
		  <tbody><tr>
			<td class="numbering">
				<table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
				    <td><a href="#" style="color: black;">1</a>|&nbsp</td>
					<td><a href="#" style="color: black;">2</a>&nbsp|&nbsp</td>
					<td><a href="#" style="color: black;">3</a></td>
				  </tr>
				</tbody></table>
		</tbody></table>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#selectBox').change(function(){
		var result = $('#selectBox option:selected').val();
		if(result == 'option1') {
			$('.nomal').show()
			$('.request').hide()
			$('.ing').hide()
			$('.end').hide()
		}else if(result == 'option2'){
			$('.nomal').hide()
			$('.request').show()
			$('.ing').hide()
			$('.end').hide()
		}else if(result == 'option3'){
			$('.nomal').hide()
			$('.request').hide()
			$('.ing').show()
			$('.end').hide()
		}else if(result == 'option4'){
			$('.nomal').hide()
			$('.request').hide()
			$('.ing').hide()
			$('.end').show()
		}else {
			$('.nomal').hide()
			$('.request').show()
			$('.ing').show()
			$('.end').show()
		}})
	})
	</script>
</body>
</html>