<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/choiceCompany}">


<!-- 관리자 회사관련 선택화면 -->

	<th:block layout:fragment="customContents">
		<div class="container">
			<div class="row">
				<button type="button">
					<a th:href="@{/company/companyRegister}">회사등록</a>
				</button>
				<button type="button">
					<a href="#">사업장등록</a>
				</button>
				<button type="button">
					<a href="#">부서등록</a>
				</button>
				<button type="button">
					<a href="#">사원등록</a>
				</button>
			</div>
		</div>		
	</th:block>
</html>