<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
<meta charset="UTF-8">

<!-- 입고등록 -->
<title>입고등록</title>
</head>

<!-- ========== 입고등록 화면 ========== -->
<body layout:fragment="adminContent">

	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12">
				
				<!-- ========== 입고등록 화면 시작 ========== -->
				<h2>상품도착등록</h2>
				<div class="incoming_register">
					<form method="post" action="#">
							<div th:fragment="searchFragment" >
							        
							        	<select name="searchKey" id="searchKey">
							        		<option value="companyNum">상품정보 코드</option>
							        		<option value="companyInfoName">택배회사</option>
							        		<option value="companyName">구매 사이트</option>
							        		<option value="companyAddr">상품명</option>
							        		<option value="companyCate">운송장번호</option>
							        	</select>
						        		<input type="text" name="searchValue" id ="searchValue" placeholder="검색어 를 입력해주세요.">
						        		<button type="button" id = "btn_Search" class="searchBtn">조회</button>
							       	
		       				 </div>
						<table class = "input_table" style="width:100%">
						
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>상품정보 코드</th>
									<th>택배회사</th>
									<th>구매 사이트</th>
									<th>상품명</th>
									<th>운송장번호</th>
									<th>수량</th>						
								</tr>								
							</thead>
							  <tbody>
							 	
								<tr th:each = "i :${incomingGoodsList}">
									<td><input type="checkbox"></td>									
									<td><a href="javascript:void(0);" th:text="${i.goodsInfoCode}"></a></td>
									<td th:text="${i.deliveryCompany}">d</td>
									<td th:text="${i.gSite}">d</td>
									<td th:text="${i.gName}">d</td>
									<td th:text="${i.trackingNum}">d</td>
									<td th:text="${i.gAmount}">d</td>
									
								
								</tr>
							  </tbody>
						</table>
						<button type="submit" id="sub_btn" >등록</button>
					</form>
					
					<div class="pageInfo_wrap">
						<div class="pageInfo_area">
							<ul id="pageInfo" class = "pageInfo">
								<!-- 각 번호 페이지 버튼 -->
								
								<li th:if="${pageMake.prev}" class="pageInfo_btn previous"><a href="${pageMake.startPage-1}">Previous</a></li>
								
								<li th:if=${pageMake.endPage} !=0 class= "pageInfo_btn" th:each="idx,iterStat : ${#numbers.sequence(pageMake.startPage,pageMake.endPage)}">
     								 <a class="number" th:href = "${idx}" th:text="${idx}"></a>
								</li>
								
								<li th:if="${pageMake.next}" class="pageInfo_btn next"><a href="${pageMake.endPage+1}">Next</a></li>
								

							</ul>
						</div>
					</div>
					<form id="moveForm" method="get">
						<input type="hidden" name="pageNum" value="${pageMake.cri.pageNum}">
						<input type="hidden" name="buyOrderCode" th:value="${buyOrderCode}">
						<!-- <input type="hidden" name="amount" value="${pageMake.cri.amount}"> -->
					</form>
				</div>
				<!-- ========== 입고등록 화면 끝 ========== -->

			</div>
          </div>
        </div>
        	
	<div class="modal">
		<div class="incoming_modal_content">
			<table class="input_table">
				  	<tr>
                        <td>주문정보 코드</td>                  
                       
                    </tr>
				  	<tr>
                        <td>아이디</td>                 
                       
                    </tr>
                  
			</table>
		</div>
	</div>	



	<script>
		let moveForm = $("#moveForm");
		$(".pageInfo a").on("click", function(e){
			e.preventDefault();
			
	        moveForm.find("input[name='pageNum']").val($(this).attr("href"));
	        moveForm.attr("action", "/incomingGoodsList");
	        moveForm.submit();
		});
		
		
		$('.input_table a').click(function(){
			$('.modal').fadeIn(1000);
			$('.modal_bg').fadeIn(1000);
		});

		$('.modal_box button').click(function(){
			$('.incoming_modal').fadeOut();
			$('.modal_bg').fadeOut();
		});
	
		
		

	</script>
</body>

</html>