<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
<meta charset="UTF-8">

<!-- 입고등록 -->
<title>입고등록</title>
</head>

<!-- ========== 입고등록 화면 ========== -->
<body layout:fragment="adminContent">

	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12">
				
				<!-- ========== 입고등록 화면 시작 ========== -->
				<h2>입고등록</h2>
				
				<div class="incoming_register">
					<form method="get" action="#">
							<div th:fragment="searchFragment" >
							        
							        	<select name="searchKey" id="searchKey">
							        		<option value="companyNum">상품정보 코드</option>
							        		<option value="companyInfoName">택배회사</option>
							        		<option value="companyName">구매 사이트</option>
							        		<option value="companyAddr">상품명</option>
							        		<option value="companyCate">운송장번호</option>
							        	</select>
							        	
						        		<input type="text" name="searchValue" id ="searchValue" placeholder="검색어 를 입력해주세요.">
						        		<button type="button" id = "btn_Search" class="searchBtn">조회</button>
							       	
		       				 </div>
						<table class = "input_table" style="width:100%">
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>상품정보 코드</th>
									<th>택배회사</th>
									<th>구매 사이트</th>
									<th>상품명</th>
									<th>운송장번호</th>
									<th>수량</th>						
									<th>입고 등록</th>						
								</tr>								
							</thead>
							  <tbody>
								<tr th:if="${not #lists.isEmpty(regIncoming)}" th:each = "i :${regIncoming}">
									<td><input type="checkbox"></td>									
									<td th:text="${i.goodsInfoCode}"></td>
									<td th:text="${i.deliveryCompany}"></td>
									<td th:text="${i.gSite}"></td>
									<td th:text="${i.gName}"></td>
									<td th:text="${i.trackingNum}"></td>
									<td th:text="${i.gAmount}"></td>
									<td align="center">
										<button type="button" class="incoming_modal_open">입고등록</button>
										<button type="button" class="error_modal_open">오류입고</button>
									</td>
								</tr>
							  </tbody>
						</table>
				<!-- 		<button type="submit" id="sub_btn" >등록</button> -->
					</form>
				</div>
				
				<!-- #incoming_modal_open 등록 버튼 누르면 출력되는 모달 -->
				
				<div class="modal">
					<div class="incoming_modal_content">
						
					  <th:block>
						
						<form id="incoming_reg_modal">
						<table class="input_table"><tbody>
						
							<tr>
								<th>주문정보 코드</th>
								<td>
								 	<label id="buyOrderCode"></label>	
								</td>
							</tr>
							<tr>
								<th>상품정보 코드</th>
								<td>
								 	<label id="goodsInfoCode"></label>	
								</td>
							</tr>
							<tr>
								<th>라이키패스 가입여부</th>
								<td>
								 	<label id="likeyPass"></label>	
								</td>
							</tr>
							<tr>
								<th>상품사진 등록</th>
								<td> <input type="file" name="photoSave" id="photoSave"> </td>
							</tr>
							<tr>
								<th>부피</th>
								<td> <input type="text" name="volume" id="volume"> </td>
							</tr>
							<tr>
								<th>중량</th>
								<td> <input type="text" name="weight" id="weight"> </td>
							</tr>
						</tbody></table>
						</form>
						
						<div class="incoming_modal_button" align="center">
							<button type="submit" id="incoming_modal_reg" class="add_button" form="incoming_reg_modal">등록</button>
							<button type="button" id="incoming_modal_close" class="cancel_button">취소</button>
						</div>
						
					  </th:block>
					<div class="incoming_modal_layer"></div>
					
				</div>
				<!-- ========== 입고등록 화면 끝 ========== -->

			</div>
          </div>
        </div>
        
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

	$(function(){
		$(document).on('click', '.incoming_modal_open', function(){
			var goodsInfoCode = $(this).parents('tr').children().eq(1).text();
			
			var request = $.ajax({
				  url: "/incomingGoodsInfoByCode",
				  method: "GET",
				  data: { 'goodsInfoCode' : goodsInfoCode },
				  dataType: "json"
				});
				 
				request.done(function( data ) {
					console.table(data)
					$('#buyOrderCode').text(data.buyOrderCode);
					$('#goodsInfoCode').text(data.goodsInfoCode);
					$('#likeyPass').text(data.likeyPass);
				});
				 
				request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});
			$('.modal').css('display', 'block');
		});
		$(document).on('click', '#incoming_modal_close', function(){
			$('.modal').css('display', 'none');
		});
	});

</script>
</body>

</html>