<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
 <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  
  <style>
  	thead, tbody { width: 10%;}
	tbody {
	    height: 450px;       /* Just for the demo          */
	    overflow-y: auto;    /* Trigger vertical scroll    */
	    overflow-x: hidden;  /* Hide the horizontal scroll */
	}
	.table td img {
		width: 180px;
		height: 180px;
		border-radius: 10%;
	}
	.scale {
		transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
	}
	.scale:hover {
		transform: scale(2);
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
	}
	.card .card-body .form-group .input-group input {
		margin-right: 5px;
	}
	.input_group {
		display: flex;
	}
	.card-body {
		padding-right: 25px !important;
	}
	</style>  
</head>

	<!-- adminDefault_layout.html에 정의한 공통적이지 않은 부분이 들어가는 부분-->
	<body layout:fragment="adminContent">
	  <!-- code -->
	  
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        		  <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" style="padding-bottom:0px; padding-right:300px;">
                  <h4 class="card-title">노데이터 입고등록</h4>
                  <div class="form-group">
                    <div class="input-group">
<!-- 	                    <div class="input-group-prepend">
	                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체기간</button>
	                        <div class="dropdown-menu">
	                          <a class="dropdown-item" href="#">전체기간</a>
	                          <a class="dropdown-item" href="#">최근 1주</a>
	                          <a class="dropdown-item" href="#">최근 1달</a>
	                          <div role="separator" class="dropdown-divider"></div>
	                          <a class="dropdown-item" href="#">직접 설정</a>
	                        </div>
	                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">아이디</button>
	                        <div class="dropdown-menu">
	                          <a class="dropdown-item" href="#">아이디</a>
	                          <a class="dropdown-item" href="#">상태</a>
	                          <a class="dropdown-item" href="#">IP</a>
	                        </div>
	                      </div> -->
					  <div class="input_group">
                     	 <input type="text" class="form-control" placeholder="수취인명" id="nod_recipient">
                     	 <input type="text" class="form-control" placeholder="배송회사" id="nod_tracking_company">
                     	 <input type="text" class="form-control" placeholder="운송장 번호" id="nod_tracking_num">
                     	 <input type="text" class="form-control" placeholder="사서함번호" id="nod_user_pobox_code">
                     	 <input type="file" class="form-control" placeholder="개봉한 물품 사진" id="nod_pic">		 
                     	 <input type="text" class="form-control" placeholder="입고일" id="nod_arrival_date">
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button">등록</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                    	<!-- <colgroup>
                    		<col width="5%">
                    		<col width="15%">
                    		<col width="15%">
                    		<col width="15%">
                    		<col width="25%">
                    		<col width="25%">
                    	</colgroup> -->
                      <thead>
                        <tr>
                          <th>
                            	노데이터 입고 코드
                          </th>
                          <th>
                            	수취인명
                          </th>
                          <th>
                            	배송회사
                          </th>
                          <th>
                            	운송장 번호
                          </th>
                          <th>
                            	사서함 번호
                          </th>
                          <th>
                            	개봉한 물품 사진
                          </th>
                          <th>
                            	신청서 작성 여부
                          </th>
                          <th>
                            	입고일
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            nod_code1
                          </td>
                          <td>
                            Herman Beck
                          </td>
                          <td>
                            롯데택배
                          </td>
                          <td>
                            985556500281
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-09-26
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code2
                          </td>
                          <td>
                            Messsy Adam
                          </td>
                          <td>
                            로젠택배
                          </td>
                          <td>
                            505747782361
                          </td>
                          <td>
                            lk0003a
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-08-31
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code3
                          </td>
                          <td>
                            John Richards
                          </td>
                          <td>
                            우체국택배
                          </td>
                          <td>
                            532427341213
                          </td>
                          <td>
                            lk0213b
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-08-17
                          </td>                          
                        </tr>
                        <tr>
                          <td>
                            nod_code4
                          </td>
                          <td>
                            Peter Meggik
                          </td>
                          <td>
                            로젠택배
                          </td>
                          <td>
                            483937263912
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-07-29
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code5
                          </td>
                          <td>
                            Edward
                          </td>
                          <td>
                            롯데택배
                          </td>
                          <td>
                            887652837641
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-07-05
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code6
                          </td>
                          <td>
                            Jake Park
                          </td>
                          <td>
                            대한통운
                          </td>
                          <td>
                            110987799812
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-07-01
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code7
                          </td>
                          <td>
                            Henry Tom
                          </td>
                          <td>
                            대한통운
                          </td>
                          <td>
                            865586588867
                          </td>
                          <td>
                            lk0030k
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-06-16
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
	
	
	</body>
</html>