<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
 <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  
  <style>
  	thead, tbody { width: 10%;}
	tbody {
	    height: 450px;       /* Just for the demo          */
	    overflow-y: auto;    /* Trigger vertical scroll    */
	    overflow-x: hidden;  /* Hide the horizontal scroll */
	}
	.table td img {
		width: 180px;
		height: 180px;
		border-radius: 10%;
	}
	.scale {
		transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
	}
	.scale:hover {
		transform: scale(2);
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
	}
	.card .card-body .form-group .input-group input {
		margin-right: 5px;
	}
	.input_group {
		display: flex;
	}
	.card-body {
		padding-right: 25px !important;
	}
	</style>  
</head>

<!-- adminDefault_layout.html에 정의한 공통적이지 않은 부분이 들어가는 부분-->
<body layout:fragment="adminContent">
	  <!-- code -->
	  
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        		  <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" style="padding-bottom:0px; padding-right:300px;">
                
				  <!-- =========== 노데이터 입고 등록 부분 =========== -->
                  <h4 class="card-title">노데이터 입고등록</h4>
                  <div class="form-group">
				   
				   <form form="nodata_reg_form" th:action="@{/regNodata}" method="post">
                    <div class="input-group">
					   <div class="input_group">
                     	 <input type="text" class="form-control" placeholder="수취인명" id="nodRecipient" name="nodRecipient">
                     	 <input type="text" class="form-control" placeholder="배송회사" id="nodTrackingCompany" name="nodTrackingCompany">
                     	 <input type="text" class="form-control" placeholder="운송장 번호" id="nodTrackingNum" name="nodTrackingNum">
                     	 <input type="text" class="form-control" placeholder="사서함 번호" id="nodUserPoboxCode" name="nodUserPoboxCode">
                     	 <input type="file" class="form-control" placeholder="개봉한 물품 사진" id="nodPic" name="nodPic" accept="image/*">		 
                     	 <input type="hidden" id="nodECode" name="nodECode" th:value="${session.SID}">
                       </div>
                       <div class="input-group-append">
                        <button class="btn btn-sm btn-primary nodata_reg" type="button" form="nodata_reg_form">등록</button>
                       </div>
                    </div>
                   </form>
                   
                  </div>
                  <!-- =========== 노데이터 입고 등록 부분 =========== -->
                  
                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            	노데이터 입고 코드
                          </th>
                          <th>
                            	수취인명
                          </th>
                          <th>
                            	배송회사
                          </th>
                          <th>
                            	운송장 번호
                          </th>
                          <th>
                            	사서함 번호
                          </th>
                          <th>
                            	개봉한 물품 사진
                          </th>
                          <th>
                            	신청서 작성 여부
                          </th>
                          <th>
                            	폐기일
                          </th>
                          <th>
                            	이용자 확인 여부
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            nod_code1
                          </td>
                          <td>
                            Herman Beck
                          </td>
                          <td>
                            롯데택배
                          </td>
                          <td>
                            985556500281
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-09-26
                          </td>
                          <td>
                             <label class="badge badge-danger">미확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code2
                          </td>
                          <td>
                            Messsy Adam
                          </td>
                          <td>
                            로젠택배
                          </td>
                          <td>
                            505747782361
                          </td>
                          <td>
                            lk0003a
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-08-31
                          </td>
                          <td>
                             <label class="badge badge-danger">미확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code3
                          </td>
                          <td>
                            John Richards
                          </td>
                          <td>
                            우체국택배
                          </td>
                          <td>
                            532427341213
                          </td>
                          <td>
                            lk0213b
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-08-17
                          </td>                          
                          <td>
                             <label class="badge badge-danger">미확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code4
                          </td>
                          <td>
                            Peter Meggik
                          </td>
                          <td>
                            로젠택배
                          </td>
                          <td>
                            483937263912
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-07-29
                          </td>
                          <td>
                             <label class="badge badge-success">확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code5
                          </td>
                          <td>
                            Edward
                          </td>
                          <td>
                            롯데택배
                          </td>
                          <td>
                            887652837641
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-07-05
                          </td>
                          <td>
                             <label class="badge badge-danger">미확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code6
                          </td>
                          <td>
                            Jake Park
                          </td>
                          <td>
                            대한통운
                          </td>
                          <td>
                            110987799812
                          </td>
                          <td>
                            <label class="badge badge-danger">사서함 번호 미기입</label>
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-success">신청서 작성</label>
                          </td>
                          <td>
                            2022-07-01
                          </td>
                          <td>
                             <label class="badge badge-danger">미확인</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            nod_code7
                          </td>
                          <td>
                            Henry Tom
                          </td>
                          <td>
                            대한통운
                          </td>
                          <td>
                            865586588867
                          </td>
                          <td>
                            lk0030k
                          </td>
                          <td class="scale">
                            <img src="../../image/package_open_img.jpg">
                          </td>
                          <td>
                            <label class="badge badge-danger">신청서 미작성</label>
                          </td>
                          <td>
                            2022-06-16
                          </td>
                          <td>
                             <label class="badge badge-success">확인</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

</script>
	
</body>
</html>