<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">
<style>
.sub_contents_wrap {margin-top:30px;margin-left:10px;}
th{
		border-bottom-radius: 10px;
		background-color: #797979;
		color: white;
	
	}
	table{
		border:1px solid;
		border-collapse:collapse;
		height: 100%;
		
	}

#sidebar {margin-left:5%;}
.sub_title_main {margin-bottom : 10px;font-size: 24px;color: #f76c87;font-weight: bold;padding: 0px 20px 20px 4px;}
</style>
<!--sidebarFragment 선언-->
	<div id="sidebar" th:fragment="sidebarFragment">
		
		
			<div class="sub_contents_wrap wrap col-lg-4">
				<div class="left_menu">
					<div>마이페이지</div>
						<ul>
							<li>
								<div><a th:href="@{/reviewList}">이용후기</a></div>
							</li>
							<li>
								<div><a th:href="@{/postborde}">정보공유</a></div>
							</li>
							<li>
								<div><a href="#" >★BEST★</a></div>
							</li>

						</ul>
					</div>	<!-- //왼쪽 메뉴 -->
				
			</div>
	</div>
</html>