<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">
	<div id = "footer" th:fragment = "footerFragment">
	
		<div class="shop-method-area">
		    <div class="container">
		        <div class="method-wrapper">
		            <div class="row d-flex justify-content-between">
		                <div class="col-xl-4 col-lg-4 col-md-6">
		                    <div class="single-method mb-40">
		                        <i class="ti-package"></i>
		                        <h6>Free Shipping Method</h6>
		                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
		                    </div>
		                </div>
		                <div class="col-xl-4 col-lg-4 col-md-6">
		                    <div class="single-method mb-40">
		                        <i class="ti-unlock"></i>
		                        <h6>Secure Payment System</h6>
		                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
		                    </div>
		                </div> 
		                <div class="col-xl-4 col-lg-4 col-md-6">
		                    <div class="single-method mb-40">
		                        <i class="ti-reload"></i>
		                        <h6>Secure Payment System</h6>
		                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<footer>
		    <!-- Footer Start-->
		    <div class="footer-area footer-padding">
		        <div class="container">
		            <div class="row d-flex justify-content-between">
		                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6">
		                    <div class="single-footer-caption mb-50">
		                        <div class="single-footer-caption mb-30">
		                            <!-- logo -->
		                            <div class="footer-logo">
		                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" width="200px" alt=""></a>
		                            </div>
		                            <div class="footer-tittle">
		                                <div class="footer-pera">
		                                    <p>역직구의 모든것, <br> 한국 대표 대행 사이트 LIKEY </p>
		                            </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
		                    <div class="single-footer-caption mb-50">
		                        <div class="footer-tittle">
		                            <h4>이벤트</h4>
		                            <ul>
		                                <li><a href="#">신규 가입 할인</a></li>
		                                <li><a href="#">친구 추천 이벤트</a></li>
		                                <li><a href="#">회원 등급 이전</a></li>
		                                <li><a href="#">출석체크 이벤트</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-10">
		                    <div class="single-footer-caption mb-50">
		                        <div class="footer-tittle">
		                            <h4>마이페이지</h4>
		                            <ul>
		                                <li><a href="#">나의 배송 현황</a></li>
		                                <li><a href="#">회원 정보 수정</a></li>
		                                <li><a href="#">나의 쿠폰함</a></li>
		                                <li><a href="#">나의 주소록</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-7" >
		                    <div class="single-footer-caption mb-50">
		                        <div class="footer-tittle">
		                            <h4>고객센터</h4>
		                            <ul>
		                                <li><a href="#">공지사항</a></li>
		                                <li><a href="#">1:1문의하기</a></li>
		                                <li><a href="#">자주하는질문</a></li>
		                                <li><a href="#">배송 스케쥴</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- Footer bottom -->
		            <div class="row align-items-center">
		                <div class="col-xl-9 col-lg-8 col-md-7">
		                    <div class="footer-copy-right">
		                        <p style="font-size: 15PX;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		Use of this site constitutes acceptance of the LIKEY user Agreement and Privacy Policy <br> LIKEY KOREA는 관세법등 관련규정을 준수하고, 불법물건을 취급하지 않으며, 분할배송 및 가격허위신고 등 고객의 불법사항 요청에는 협조하지 않습니다.<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">LIKEY</a>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                  
		                    </div>
		                </div>
		                <div class="col-xl-3 col-lg-4 col-md-5">
		                    <div class="footer-copy-right f-right">
		                        <!-- social -->
		                        <div class="footer-social">
		                            <a href="#"><i class="fab fa-twitter"></i></a>
		                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
		                            <a href="#"><i class="fab fa-behance"></i></a>
		                            <a href="#"><i class="fas fa-globe"></i></a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Footer End-->
		</footer>
		<!--? Search model Begin -->
		<div class="search-model-box">
		    <div class="h-100 d-flex align-items-center justify-content-center">
		        <div class="search-close-btn">+</div>
		        <form class="search-model-form">
		            <input type="text" id="search-input" placeholder="Searching key.....">
		        </form>
		    </div>
		</div>
		<!-- Search model end -->
		
		<!-- JS here -->
		
		<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
		<script src="./assets/js/popper.min.js"></script>
		<script src="./assets/js/bootstrap.min.js"></script>
		<!-- Jquery Mobile Menu -->
		<script src="./assets/js/jquery.slicknav.min.js"></script>
		
		<!-- Jquery Slick , Owl-Carousel Plugins -->
		<script src="./assets/js/owl.carousel.min.js"></script>
		<script src="./assets/js/slick.min.js"></script>
		
		<!-- One Page, Animated-HeadLin -->
		<script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
		<script src="./assets/js/jquery.magnific-popup.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
		<script src="./assets/js/jquery.scrollUp.min.js"></script>
		<script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
		
		<!-- contact js -->
		<script src="./assets/js/contact.js"></script>
		<script src="./assets/js/jquery.form.js"></script>
		<script src="./assets/js/jquery.validate.min.js"></script>
		<script src="./assets/js/mail-script.js"></script>
		<script src="./assets/js/jquery.ajaxchimp.min.js"></script>
		
		<!-- Jquery Plugins, main Jquery -->   
		<script src="./assets/js/plugins.js"></script>
		<script src="./assets/js/main.js"></script>
	</div>

</html>