<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">
<!--headerFragment 선언-->
<div id="header" th:fragment="headerFragment">

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

<header>
 <!--------------- 로그인 부분 --------------->
<div class="top_login_wrap">
	<div class="wrap">

		<ul class="right_login" style="margin-right:10%;">
			<li class="cs_bt"><a href="#">고객센터</a></li>
			<li><a th:if="${session.SID != null}" href='#'>회원수정</a></li>	
			<li><a th:if="${session.SID == null}"th:href="@{/user/userForm}">회원가입</a></li>	
			<li class="login_icon login_bt"><a th:if="${session.SID == null}" th:href="@{/user/loginForm}">로그인</a></li>
			<li class="login_icon login_bt"><a th:if="${session.SID != null}" th:href="@{/user/logout}">로그아웃</a></li>
		</ul>
		<div th:if="${session.SID != null}" style="position:relative;">
			<label>[[${session.SNAME + '님 반갑습니다.'}]]</label>
		</div>
		<div th:unless="${session.SID != null}" style="position:relative; margin-left:8%;">
			<label th:if="${session.TESTID != null}">[[${session.TESTNAME + '님 반갑습니다.'}]]</label>
		</div>

	</div>
</div>
<!--------------- //로그인 부분 --------------->
    
    
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="/assets/img/logo/logo.png" alt="" width="200px"></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  

                                    <li><a th:href="@{/test}">!소개화면</a></li>
                                    <li><a th:href="@{/user/applicationFormRegisterPa}">!구매대행(문지혜)</a>

                                        <ul class="submenu">
                                            <li><a th:href="@{/user/aboutPa}">!구매대행이란?</a></li>

                                            <li><a th:href="@{/user/applicationFormRegisterPa}">!신청서작성</a></li>
                                        </ul>
                                    </li>
                                    <li><a th:href="@{/user/applicationFormRegister}">!배송대행(문지혜)</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/user/aboutDa}">!배송대행이란?</a></li>
                                            <li><a th:href="@{/user/applicationFormRegister}">!신청서작성</a></li>
                                        </ul>
                                    </li>
                                    <li class="hot"><a th:href="@{/user/aboutFriendsPa}">!프렌즈구매대행(문지혜)</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/user/aboutFriendsPa}">!프렌즈구매대행이란?(문지혜)</a></li>
                                            <li><a th:href="@{/user/friendsApplicationFormRegister}">!신청서작성</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">!커뮤니티(김덕현)</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/reviewList}">!이용후기(김덕현)</a></li>
                                            <li><a th:href="@{/postbordeList}">!정보공유(김덕현)</a></li>
                                            <li><a th:href="@{/friendsOrderList}">!프렌즈 주문서게시판(김덕현)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">!고객센터</a>
                                      <ul class="submenu">
                                          <li><a th:href="@{/noticeList}">공지사항</a></li>
                                          <li><a th:href="@{/personalQuestionRegister}">1:1문의하기</a></li>
                                          <li><a th:href="@{/myQuestionList}">내 문의 내역</a></li>
                                          <li><a th:href="@{/faqSearch}">자주하는질문</a></li>
                                          <li><a th:href="@{/deliveryScheduleSearch}">배송 스케줄</a></li>
                                      </ul>
                                  </li>
                                    <li><a href="/user/mypageScreen">!마이페이지(이국현)</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
</header>
<!-- Header End -->


</div>
</html>