<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">

<!--sidebarFragment 선언-->
	<div id="sidebar" th:fragment="sidebarFragment">
		
		
			<div class="sub_contents_wrap wrap col-lg-4">
				<div class="left_menu">
					<div>마이페이지</div>
						<ul>
							<li>
								<div><a href="/mypageScreen">마이홈</a></div>
							</li>
							<li>
								<div><a href="/memberModify">회원정보수정</a></div>
							</li>
							<li>
								<div><a href="/myAddrList" >나의 주소록 </a></div>
							</li>
							
						
				
				
						</ul>
					</div>	<!-- //왼쪽 메뉴 -->
				
			</div>
	</div>
</html>