<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<body layout:fragment="content">


	<div align="center">
	
	<h2 style="font-family: serif; margin-right: auto; width: 61%;">배송 스케줄 등록</h2>
	
	<!---------------------------------------- start 배송스케줄 등록하는 테이블 form 태그 ---------------------------------------->
		<form name="form1" id="regScheduleForm" th:action="@{/user/deliveryScheduleRegister}" method="post">
			<table border="1" style="width: 51%">
				<tbody>
					<tr>
						<td style="padding: 18px 13px; width: 13%"><b>제목 </b></td>
						<td style="padding-left: 18px;">
							<input type="text" style="width: 90%;" id="scheduleTitle" name="scheduleTitle">
						</td>
					</tr>
					<tr>
						<td style="padding: 18px 13px; vertical-align: top;"><b>내용</b></td>
						<td>
							<textarea style="width: 90%; height: 10cm; margin: 18px;" id="scheduleContent" name="scheduleContent"></textarea>
						</td>
					</tr>
					<tr>
						<td style="padding: 18px 13px;"><b>파일첨부</b></td>
						<td>
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;" id="fileName1" class="fileName"> 
							<input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf" id="imgcheck1" name="scheduleImg">
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;" id="fileName2" class="fileName">
							<input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf" id="imgcheck2" name="scheduleImg">
							<input type="text" readonly style="width: 500px; margin-left: 18px; background: #dcdcdc;" id="fileName3" class="fileName"> 
							<input type="file" value="파일찾기" style="margin-top: 3mm;" accept=".jpg, .png, .gif, .pdf" id="imgcheck3">
							
				<!--------------------------------------- start 이미지 파일 선택시 옆 input에 파일명이 들어가는 jquery---------------------------------------------------->
							<script type="text/javascript">
							$('#imgcheck1').change(function(){
								var check = $('#imgcheck1').val();
								var lastVal = check.lastIndexOf('.');
								var firstVal = check.lastIndexOf('fakepath')+9;
								var check2 = check.substring(firstVal,lastVal)
								$('#fileName1').val(check2);
							})
							$('#imgcheck2').change(function(){
								var check = $('#imgcheck2').val();
								var lastVal = check.lastIndexOf('.');
								var firstVal = check.lastIndexOf('fakepath')+9;
								var check2 = check.substring(firstVal,lastVal)
								$('#fileName2').val(check2);
							})
							$('#imgcheck3').change(function(){
								var check = $('#imgcheck3').val();
								var lastVal = check.lastIndexOf('.');
								var firstVal = check.lastIndexOf('fakepath')+9;
								var check2 = check.substring(firstVal,lastVal)
								$('#fileName3').val(check2);
							})
							</script>
				<!--------------------------------------- end 이미지 파일 선택시 옆 input에 파일명이 들어가는 jquery---------------------------------------------------->
							
						
						
							<p style="margin-left: 18px; color: #FAC6C6">* 10MB 이하의 파일 3개까지 첨부하실 수 있으며 jpg, png, gif, pdf 파일형식만 첨부하실 수 있습니다.</p>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="width: 51%; margin-top: 10px"align="right"><button id="submitBtn" type="submit"style="margin-left: auto;">배송스케줄 등록</button></div>
		</form>
		
	<!---------------------------------------- start 배송스케줄 등록하는 테이블 form 태그 ---------------------------------------->
		
	</div>
	<!--------------------------------------- start 제목 내용의 빈값을 확인하는 jquery ---------------------------------------------------->
			<script type="text/javascript">
			$(document).ready(function(){
				$('#submitBtn').click(function(){
					var checkTitle = $('#scheduleTitle').val()
					var checkContent = $('#scheduleContent').val()
					if(checkTitle == 'undefined' || checkTitle == '' || checkTitle == null){
						alert('제목을 설정 해주세요')
						return false;
					}
				 	if(checkContent == 'undefined' || checkContent == '' || checkContent == null){
					alert('내용을 써 주세요')
					return false;
					}
				})
			})
			</script>
	<!--------------------------------------- end 제목 내용의 빈값을 확인하는 jquery ---------------------------------------------------->

</body>
</html>