<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<meta http-equiv="refresh" content="1;url=localhost/faqSearch" />
<head>
	<link rel="stylesheet" href="assets/css/temporarily.css">
</head>
<body layout:fragment="content">
	<div align="center">
		<table border = 1 style="width: 55%">
			<tbody>
				<tr>
					<td class="faqLeft"><b>분류</b></td>
					<td>
						<select class="faqRight">
							<option selected disabled>::대분류::</option>
							<option value="배송대행신청">배송대행신청</option>
							<option value="구매대행신청">구매대행신청</option>
							<option value="입고">입고</option>
							<option value="출고">출고</option>
							<option value="통관">통관</option>
							<option value="배송비/결제">배송비/결제</option>
							<option value="반송">반송</option>
							<option value="회원">회원</option>
							<option value="보상">보상</option>
							<option value="기타">기타</option>
							<option value="제휴제안">제휴제안</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="faqLeft"><b>제목</b></td>
					<td>
						<input class="faqRight" type="text" style="width: 15cm;" value="-" >
					</td>
				</tr>
				<tr>
					<td class="faqLeft"><b>내용</b></td>
					<td>
						<textarea class="faqRight" style="width: 70%; height: 100mm; margin-top: 1.5mm"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="width: 55%; margin-top: 10px"align="right"><input type="button" value="글쓰기" style="margin-left: auto;"></div>
	</div>
</body>
</html>