<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
	
<body layout:fragment="content">
	<div align="center">
	
		<div style="width: 12%">
			<h2 align="left" style="text-decoration: underline;">자주하는 질문</h2>
		</div>
		
		<div id="faqSearchBox" style="width: 50%;" align="left">
				<div class="faqSortM" style="width: 15%;   float: left;" th:if="${not #lists.isEmpty(faqList)}" th:each="l : ${faqList}">
					<div class="faqSort" align="center" style="margin-top: s10mm;" th:text="${l.faqMainCate}">
					</div>
					<ul class="faqSortList">
						<li><div th:id="${l.faqNumCode}" th:text="${l.faqTitle}"></div></li>
					</ul>
				</div>
		<div class="faqList" style="float: left;">
			<div id="ffaq1" style="display: none;">
				<h4>들턱</h4>
				<pre>ㅁㄴㅇㅁㄴㅇ</pre>
			</div>
			<div id="ffaq2" style="display: none;">
				<h4>역전</h4>
				<pre>반갑습니다</pre>
			</div>
			<div id="ffaq3" style="display: none;">
				<h4>치쿠린</h4>
				<pre>안녕히계세요</pre>
			</div>
			<div id="ffaq4" style="display: none;">
				<h4>자고싶다</h4>
				<pre>고맙습니다</pre>
			</div>
			<div id="ffaq5" style="display: none;">
				<h4>뭔가 아닌데..</h4>
				<pre>수고했어요</pre>
			</div>
		</div>
			<div style="clear: both; text-align: right; margin-right: 17mm;">
				<a th:href="@{/faqRegister}">
					<button type="button" style="border-radius: 3px; border: solid 1px gray; font-size: 10px">글쓰기</button>
				</a>
			</div>
		</div>
	</div>
		
	<script type="text/javascript">
	$(document).ready(function(){
		$('#1').click(function(){
			$('.faqList div').hide();
			$('#ffaq1').show();
		})
		$('#2').click(function(){
			$('.faqList div').hide();
			$('#ffaq2').show();
		})
		$('#3').click(function(){
			$('.faqList div').hide();
			$('#ffaq3').show();
		})
		$('#4').click(function(){
			$('.faqList div').hide();
			$('#ffaq4').show();
		})
		$('#5').click(function(){
			$('.faqList div').hide();
			$('#ffaq5').show();
		})
		
	})
	</script>
	
</body>
</html>