<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/introduction.css}"/>
</head> 
<!-- default_layout.html에 정의한 main page 부분 -->
<body layout:fragment="content">

<!------------------------------ 중간 내용 여기서부터 ------------------------------>
<div class="sub_contents_wrap wrap">

	<!-- 오른쪽 내용 -->
	<div class="right_text">

		<div class="sub_navi_text"> 
			<div>HOME &nbsp;>&nbsp; LIKEY 소개 &nbsp;>&nbsp; <b>구매대행이란?</b></div>
		</div>

		<div style="margin-top:30px;"></div>

		<table border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td class="sub1_title">- 구매대행이란?</td>
			<td width="1" class="sub1_bt_02"><a href=""><img src="/image/S_sub1_bt_03.gif"></a></td>
		  </tr>
		</table>

		<div class="sub1_text">
		해외 직구 시 해외 사이트 이용 및 카드결제 등의 문제로 해외직구가 어려울 때에 구매부터 배송까지 LIKEY가 대행해드리는 서비스입니다.
		</div>



		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_tab_bt">
		  <tr>
		    <td><img src="/image/S_sub1_process2_01_ov.gif" class="sub2_tab_1_bt" onclick="subtab2('1')"></td>
			<td><img src="/image/S_sub1_process2_02.gif" class="sub2_tab_2_bt" onclick="subtab2('2')"></td>
			<td><img src="/image/S_sub1_process2_03.gif" class="sub2_tab_3_bt" onclick="subtab2('3')"></td>
			<td><img src="/image/S_sub1_process2_04.gif" class="sub2_tab_4_bt" onclick="subtab2('4')"></td>
			<td><img src="/image/S_sub1_process2_05.gif" class="sub2_tab_5_bt" onclick="subtab2('5')"></td>
			<td><img src="/image/S_sub1_process2_06.gif" class="sub2_tab_6_bt" onclick="subtab2('6')"></td>
			<td><img src="/image/S_sub1_process2_07.gif" class="sub2_tab_7_bt" onclick="subtab2('7')"></td>
		  </tr>
		</table>



		

		<!-- 1 -->
		<div class="sub2_tab_1">
			
			<div class="sub1_tab_box">
				<div class="sub1_title">01. 구매상품 선택</div>
				<div class="sub1_text">
				해외 쇼핑몰에서 구매를 원하는 상품 및 색상, 사이즈 등 옵션을 확인합니다.
				</div>
			</div>


			<div style="height:15px;"></div>


			<div class="more_box">
				<div class="title">해외 쇼핑몰 Tip</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>직구 정보 > 해외 인기 쇼핑몰에서 인기 있는 해외 쇼핑몰을 알려드립니다.</td>
					<td><a href=""><img src="/image/sub_1_2_step1_bt_01.jpg"></a></td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>해외 유명 브랜드의 핫딜 정보를 보려면?</td>
					<td><a href=""><img src="/image/sub_1_2_step1_bt_02.jpg"></a></td>
				  </tr>
				</table>
			</div>


			<div class="more_box">
				<div class="title">해외 쇼핑몰 상품 선택 시 주의사항</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>해외 쇼핑몰 결제 전, 수입금지품목을 확인하세요. (관세청 문의: 125) </td>
					<td><a href=""><img src="/image/sub_1_2_step1_bt_03.jpg"></a></td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					목록통관 상품의 경우 $150 (미국 $200) 이상일 경우, 일반 통관 상품의 경우 한화 15만원 이상 인 경우 관/부가세가 발생합니다.<br>
					</td>
				  </tr>
				</table>

				<div style="padding:5px 0 0 11px"><a href=""><img src="/image/sub_1_2_step1_bt_04.jpg"></a></div>
			</div>
		</div>
		<!-- //1 -->




		<!-- 2 -->
		<div class="sub2_tab_2" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">02. LIKEY에서 구매대행 신청</div>
				<div class="sub1_text">
				LIKEY에서 로그인 후 구매대행 신청서를 작성합니다. 구매를 원하는 상품의 색상, 사이즈 옵션 등을 자세하게<br>
				알려주셔야 합니다.해외 쇼핑몰에서 구매를 원하는 상품 및 색상, 사이즈 등 옵션을 확인합니다.
				</div>
			</div>


			<div style="height:18px;"></div>

			
			<style>
			
			</style>


			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				LIKEY 상단 배송대행 신청 버튼을 클릭하여 구매대행신청서를 작성합니다.<br>
				한 구매대행 신청서에는 동일한 쇼핑몰만 신청할 수 있습니다. (라쿠텐의 경우 동일 셀러만 한번에 신청 가능) 
				</div>


			</div>



			<div class="step_box">
				<div class="title">STEP <font>02</font></div>
				<div class="text">
				구매대행 신청 시 주의사항을 잘 읽은 후 주의사항에 동의에 체크합니다.
				</div>

			</div>



			<div class="step_box">
				<div class="title">STEP <font>03</font></div>
				<div class="text">
				국가/물류센터 선택 후 주의 사항을 확인하며, 배송방법을 선택합니다. 
				</div>

				<div style="position:relative;">
					<div style="position:absolute; width:180px; z-index:1; right: 0px; top: -30px;">
						<a href=""><img src="/image/sub_1_2_step2_bt_02.gif"></a>
					</div>
				</div>

			</div>



			<div class="step_box">
				<div class="title">STEP <font>04</font></div>
				<div class="text">
				상품정보를 등록합니다.<br>
				제품별 URL, 이미지, 색상, 사이즈를 입력해주셔야 하며, 해당 옵션 품절 시 대체 상품이 있을 경우 "구매 관련 요청 메모 란" 에 기재해주시면<br> 
				더 빠른 진행이 가능합니다.
				</div>

			</div>



			<div class="step_box">
				<div class="title">STEP <font>05</font></div>
				<div class="text">
				원하는 배송옵션을 선택한 후 수령인 주소를 입력합니다.<br>
				구성품 제거 옵션은 선물용이 아닐 경우 부피를 줄이기 위해 사용하실 수 있습니다.<br>
				개인통관고유부호는 관세청에서 발급하는 번호이며, 수령인명의 개인통관 고유부호를 넣어야 정상적인 통관이 가능합니다.<br>
				수령인 주소는 배송비 결제 시 최종 수정이 가능합니다.<br>
				</div>

			</div>

		</div>
		<!-- //2 -->




		<!-- 3 -->
		<div class="sub2_tab_3" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">03. 상품가 결제</div>
			</div>


			<div style="height:18px;"></div>

			
			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				LIKEY 상단 마이페이지 > 배송 신청 내역으로 이동합니다.
				</div>
			</div>



			<div class="step_box">
				<div class="title">STEP <font>02</font></div>
				<div class="text">
				해당 신청서 리스트에서 신청서를 확인 하신 후 수령하기 버튼을 클릭하여 결제합니다.
				</div>
			</div>



			<div class="step_box">
				<div class="title">STEP <font>03</font></div>
				<div class="text">
				상품가 결제가 완료되면 현지 쇼핑몰에 구매가 신청되며 신청이 완료 되면 주문번호가 배송이 시작되면 트래킹 번호가 노출 됩니다. 
				</div>

			</div>
			

			<div style="height:25px;"></div>


			<div class="more_box">
				<div class="title">상품가 결제 후 주의사항</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					구매 과정에서 쇼핑몰 재고가 소진 되었을 경우 결제 금액 전체를 환불해 드리며, 상품가 및 부가비용이 변경된 경우 취소 혹은<br>
					재결제 처리 후 진행됩니다.
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					현지 쇼핑몰 주문 완료 이후 현지 판매처에서 청약 철회가 불가능한 경우가 대부분이니 이점 참고하셔서 신중한 구매를 권장해드립니다.<br> 
					(취소시 발생된 구매대행 수수료는 환불 됩니다.)
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>주문 상품의 묶음배송 신청/해지는 상품가 결제완료 후 마이페이지에서 직접 가능합니다.</td>
				  </tr>
				</table>
			</div>
		</div>
		<!-- //3 -->




		<!-- 4 -->
		<div class="sub2_tab_4" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">04. 상품입고 및 검수</div>
				<div class="sub1_text">
				LIKEY 물류센터에 상품이 도착하면 문자 및 알림으로 안내해 드립니다. 물품 확인 과정에서 이상이 있는 경우 회원님께<br> 
				오류 입고 내용을 알려드립니다. 신청서에 있는 상품 중 하나라도 입고가 된 후에는 신청서 수정이 불가능 합니다.
				</div>
			</div>

			<div style="height:18px;"></div>


			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				현지 물류 센터에 상품이 도착되면 일괄 물품 확인 사인을 합니다. (미국 USPS의 경우 업체 특성상 예외될 수 있습니다)
				</div>
			</div>

			<div class="step_box">
				<div class="title">STEP <font>02</font></div>
				<div class="text">
				도착 된 물품과 신청서를 매칭하여 입고 확인을 합니다.
				</div>
			</div>

			<div class="step_box">
				<div class="title">STEP <font>03</font></div>
				<div class="text">
				상품의 개수, 색상, 사이즈 등을 배송신청서와 비교하여 검수를 진행합니다.
				</div>

			</div>



			<div style="height:25px;"></div>



			<div class="more_box">
				<div class="title">상품 오류 입고 시 주의사항</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					검수 결과 상품이 오류 입고 되었을 경우 해당 신청서는 오류입고 상태가 되며, 회원님께 오류 입고되었음을 문자 및 알림으로<br>
					알려드립니다.
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					오류 내용을 확인한 회원님은 해당 상품을 받으실지 반송이나 교환하실지 결정하셔서 1:1 문의로 알려주셔야 이후 절차가 진행됩니다.
					</td>
				  </tr>
				</table>
			</div>



			<div class="more_box">
				<div class="title">검수 불가 항목</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					신청서 상에 사진 등록이 되지 않은 경우
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					입고 시 확인할 수 없는 제품의 하자 경우 (올풀림, 재봉불량, 전자제품의 작동유무, 세트상품의 구성품 누락, 메탈소재의 스크래치 등)
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					포장된 상품 내부의 사이즈, 불량, 포장 박스의 오염 및 손상이 경우
					</td>
				  </tr>
				</table>
			</div>
		</div>
		<!-- //4 -->




		<!-- 5 -->
		<div class="sub2_tab_5" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">05. 포장 및 배송</div>
				<div class="sub1_text">
				국제 배송 후 통관을 거쳐 국내 배송이 진행됩니다. 물류센터 지역에 따라 출고 후 항공기 스케쥴에 차이가 있으며,<br>
				물품 및 상품 가격에 따라 통관 과정에서 관/부가세가 부가되어 결제가 청구될 수 있습니다.<br>
				관부가세가 책정된 경우 마이페이지(개인납부 가능) > 배송/구매대행 내역에서 관/부가세 결제 후 국내 배송이 이루어집니다.<br>
				</div>
			</div>

			<div style="height:18px;"></div>
			

			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				현지 물류센터에 상품이 출고 시 지역에 따라 항공기 스케쥴 및 국내 배송사가 달라 집니다.<br>
				국제 운송으로 인해 결제 마감 시간, 주말, 썸머 타임, 항공기 스케쥴 변화 등 다양한 변수에 따라 배송 시간에 차이가 있으니<br>
				이점 참고하시기 바랍니다.
				</div>


				<div style="height:34px;"></div>



				<!-- 나라 탭 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_bt">
				  <tr>
					<td class="sub1_2_1_tab_1_bt" onclick="sub1_2_1tab('1')" style="filter:alpha(opacity=100);opacity:1;background-color:#ffffff;">
						<div class="country_font">미국(USA)</div>
					</td>
					<td  class="sub1_2_1_tab_2_bt" onclick="sub1_2_1tab('2')">
						<div class="country_font">중국 (CN)</div>
					</td>
					<td  class="sub1_2_1_tab_3_bt" onclick="sub1_2_1tab('3')">
						<div class="country_font">일본 (JP)</div>
					</td>
					<td  class="sub1_2_1_tab_4_bt" onclick="sub1_2_1tab('4')">
						<div class="country_font">영국 (UK)</div>
					</td>
					<td  class="sub1_2_1_tab_5_bt" onclick="sub1_2_1tab('5')">
						<div class="country_font">독일 (GER)</div>
					</td>
					<td  class="sub1_2_1_tab_6_bt" onclick="sub1_2_1tab('6')">
						<div class="country_font">한국 (KR)</div>
					</td>
				  </tr>
				</table>
				<!-- //나라 탭 -->


				<!-- 미국 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_1 sub1_2_1_table">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1">미국 델라웨어<br>(DE)</td>
					<td class="td2">항공</td>
					<td class="td3">
						부피무게와 중량의 차가<br>
						30lbs 이상인 경우 부피무게,<br>
						30lbs 미만 시 중량
					</td>
					<td class="td4">
						화~토<br>
						오전 4시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				  <tr>
				    <td class="td1">미국 오레곤<br>(OR)</td>
					<td class="td2">항공</td>
					<td class="td3">
						중량과 부피무게 중<br>
						큰 무게 적용
					</td>
					<td class="td4">
						화~토<br>
						오전 3시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				  <tr>
				    <td class="td1">미국 뉴저지<br>(NJ)</td>
					<td class="td2">항공</td>
					<td class="td3">
						부피무게와 중량의 차가<br>
						30lbs 이상인 경우 부피무게,<br>
						30lbs 미만 시 중량
					</td>
					<td class="td4">
						월~금<br>
						오후 11시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				</table>
				<!-- //미국 -->


				<!-- 중국 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_2 sub1_2_1_table" style="display:none;">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1" rowspan="2">중국 상하이<br>(SH)</td>
					<td class="td2">항공</td>
					<td class="td3">
						중량과 부피무게 중<br>
						큰 무게 적용
					</td>
					<td class="td4">
						월~금<br>
						오후 3시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				  <tr>
					<td class="td2">해상</td>
					<td class="td3">
						중량
					</td>
					<td class="td4">
						월~금<br>
						오후 3시
					</td>
					<td>배송비 결제 후 약 3~6일</td>
				  </tr>
				</table>
				<!-- //중국 -->


				<!-- 일본 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_3 sub1_2_1_table" style="display:none;">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1" rowspan="2">일본 도쿄<br>(TK)</td>
					<td class="td2">항공</td>
					<td class="td3">
						30kg 미만일 경우 중량무게 적용<br>
						30kg 초과시 부피와 중량 중<br>
						큰 무게 적용
					</td>
					<td class="td4">
						월~금<br>
						오후 12시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				  <tr>
					<td class="td2">해상</td>
					<td class="td3">
						중량
					</td>
					<td class="td4">
						수<br>
						오후 12시
					</td>
					<td>배송비 결제 후 약 7~10일</td>
				  </tr>
				</table>
				<!-- //일본 -->


				<!-- 영국 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_4 sub1_2_1_table" style="display:none;">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1" rowspan="2">영국<br>(UK)</td>
					<td class="td2">항공</td>
					<td class="td3">
						중량과 부피무게 중<br>
						큰 무게 적용
					</td>
					<td class="td4">
						월, 수, 금<br>
						오후5시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				</table>
				<!-- //영국 -->


				<!-- 독일 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_5 sub1_2_1_table" style="display:none;">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1" rowspan="2">독일<br>(DH)</td>
					<td class="td2">항공</td>
					<td class="td3">
						책정된 중량 무게와 <br>
						실제 책정된 부피무게의 <br> 
						50% 할인 무게와 비교 후 <br> 
						부피무게가 더 작은 경우 중량,<br> 
						부피무게가 더 큰 경우 부피무게 
					</td>
					<td class="td4">
						월 ~ 금<br>
						오후4시
					</td>
					<td>배송비 결제 후 약 3~5일</td>
				  </tr>
				</table>
				<!-- //독일 -->


				<!-- 한국 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="sub1_2_1_tab_6 sub1_2_1_table" style="display:none;">
				  <tr>
				    <th class="td1">지역</th>
					<th class="td2">배송방법</th>
					<th class="td3">배송비 측정 기준 무게</th>
					<th class="td4">결제마감<br>(한국시간기준)</th>
					<th>총 예상기간</th>
				  </tr>
				  <tr>
				    <td class="td1" rowspan="2">한국 서울<br>(SE)</td>
					<td class="td2">항공</td>
					<td class="td3">
						중량과 부피무게 중<br>
						큰 무게 적용
					</td>
					<td class="td4">
						월 ~ 금<br>
						오전 9시
					</td>
					<td>수령지역에 따라 상이함</td>
				  </tr>
				</table>
				<!-- //한국 -->


				<div class="text" style="padding-top:30px;">- 미국 부피무게 계산법 = (가로x세로x높이(inch)) / 166 , CBM 단위(CA해상만 사용) = 가로 x 세로 x 높이(m)</div>
				<div class="text">- 배송 기간은 주말, 썸머 타임, 항공기 스케쥴 변동, 관부가세 결제, 통관의 이슈 사항 등의 영향으로 변동이 발생 할 수 있습니다.</div>
			</div>
		</div>
		<!-- //5 -->




		<!-- 6 -->
		<div class="sub2_tab_6" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">06. 통관</div>
				<div class="sub1_text">
				국제 배송 후 통관을 거쳐 국내 배송이 진행됩니다. 물류센터 지역에 따라 출고 후 항공기 스케쥴에 차이가 있으며,<br> 
				물품 및 상품 가격에 따라 통관 과정에서 관/부가세가 부가되어 결제가 청구될 수 있습니다.<br>
				관부가세가 책정된 경우 마이페이지(개인납부 가능) > 배송/구매대행 내역에서 관/부가세 결제 후 국내 배송이 이루어집니다.
				</div>
			</div>
			

			<div style="height:18px;"></div>


			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				통관 과정에서 이상이 없으면 국내 배송사로 상품이 전달되며 수령 주소로 배송해드립니다. 
				</div>
			</div>

			<div class="step_box">
				<div class="title">STEP <font>02</font></div>
				<div class="text">
				관/부가세 발생 시 LIKEY 웹사이트(마이페이지>배송/구매대행 내역)나 모바일(MY>간편결제)로 결제가 가능하며 평일 오후 2시까지<br> 
				결제 확인 건에 대해서 당일 납부 처리됩니다. 결제가 완료되어야 국내 배송이 진행됩니다. 
				</div>

			</div>


			<div class="more_box">
				<div class="title">통관관련 주의사항</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					모든 수입물품은 관세법의 규정에 따라 세관의 통관 절차를 거쳐야 하며, 배송대행 신청서의 내용으로 LIKEY에서<br>
					통관서류 작성을 대행하나 허위로 기재하신 내용에 대해서는 아이포터에서 책임을 질 수 없습니다.
					</td>
				  </tr>
				</table>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					한 사람이 같은 날 두 건 이상 통관 시 과세기준과 관계없이 세금이 부여 되는 합산과세에 걸리게 되며, 이 경우 보상이 불가능하니<br>
					배송비 결제 시 결제 마감 시간을 확인하시기 바랍니다.
					</td>
				  </tr>
				</table>

			</div>
		</div>
		<!-- //6 -->




		<!-- 7 -->
		<div class="sub2_tab_7" style="display:none;">
			<div class="sub1_tab_box">
				<div class="sub1_title">07. 상품 수령 배송완료</div>
				<div class="sub1_text">
				상품을 수령 후 마이페이지 > 배송/구매대행 내역에서 수령확인 버튼을 클릭하면 배송이 완료 됩니다.
				</div>
			</div>

			
			<div style="height:18px;"></div>


			<div class="step_box">
				<div class="title">STEP <font>01</font></div>
				<div class="text">
				배송의 단계에서는 수령확인 버튼이 노출되며, 상품을 수령시 수령확인 버튼을 클릭해주셔야만 배송이 완료됩니다.<br>
				회원 혜택 및 다양한 이벤트의 거래 건수는 배송완료 기준이므로 상품 수령 시 꼭 수령확인 버튼을 클릭 해 주시기 바랍니다.
				</div>

			</div>


			<div style="height:25px;"></div>


			<div class="more_box">
				<div class="title">배송시 주의사항</div>

				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>
					아래의 조건에 하나라도 해당하는 경우 국내 추가 착불 택배비가 발생되오니 유의 하시기 바랍니다. 
					</td>
				  </tr>
				</table>

				<ul>
					<li>- 상품의 무게가 30kg 이상</li>
					<li>- 한변이 1m를 초과하는 경우</li>
					<li>- 세변의 합이 160cm 이상일 경우</li>
					<li>- TV 혹은 모니터 상품의 경우 (대형화물택배로 이관)</li>
					<li>- 국내 배송사의 정책에 따라 이외에 추가 요금이 발생될 수 있습니다.</li>
				</ul>
			</div>
		</div>
		<!-- //7 -->

	</div>
	<!-- //오른쪽 내용 -->

</div>
<div style="clear:both;"></div>
<!------------------------------ //중간 내용 여기서부터 ------------------------------>
		<script>
		var autonum4=1;

		//교체
		function subtab2(layerid){
			
			//이미지교체
			for(i=1 ; i<=7 ; i++){
				$(".sub2_tab_"+i).hide();
			}

			$(".sub2_tab_"+layerid).show();

			//버튼교체

			for(var i=1 ; i<=7 ; i++){
				$(".sub2_tab_"+i+"_bt").attr("src","/image/S_sub1_process2_0"+i+".gif");
			}
			$(".sub2_tab_"+layerid+"_bt").attr("src","/image/S_sub1_process2_0"+layerid+"_ov.gif");
			
		}
		</script>
						<script>
				var autonum=1;

				//교체
				function sub1_2_1tab(layerid){
					
					//이미지교체
					for(i=1 ; i<=6 ; i++){
						$(".sub1_2_1_tab_"+i).hide();
					}

					$(".sub1_2_1_tab_"+layerid).show();

					//버튼교체

					for(var i=1 ; i<=6 ; i++){
						$(".sub1_2_1_tab_"+i+"_bt").css({"filter":"alpha(opacity=50)","opacity":".5","background-color":"#f3f3f3"});
					}
					$(".sub1_2_1_tab_"+layerid+"_bt").css({"filter":"alpha(opacity=100)","opacity":"1","background-color":"#ffffff"});
					
				}
				</script>

	</body>
</html>
