<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/information_layout_sidebar.html}">

	<!-- default_layout.html에 정의한 main page 부분 -->
	<body layout:fragment="content">
		<div class="container">
			
        <!-- code -->
        	<div class="right_text">
			
				<div class="sub_navi_text"> 
					<div>HOME &nbsp;>&nbsp; 배송대행 &nbsp;>&nbsp; <b>신청내역</b></div>
				</div>
				
				<div class="shipping3_title_text">
					<div class="title">신청서 보기</div>
					<div class="sub_title">회원님의 배송대행 신청 내역을 확인 하실 수 있습니다.</div>
				</div>
				
			</div>
		</div>
	</body>
</html>