<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
<meta charset="UTF-8">

<!-- 출고등록 -->
<title>출고등록</title>
</head>

<!-- ========== 출고등록 화면 ========== -->
<body layout:fragment="adminContent">

	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12">
				
				<!-- ========== 출고등록 화면 시작 ========== -->
				<h2>출고등록</h2>
				
				<div class="forwarding_register">
					<form method="get" action="#">
							<div th:fragment="searchFragment" >
							        
							        	<select name="searchKey" id="searchKey">
							        		<option value="goods_info_code">상품정보 코드</option>
							        		<option value="postpone">고객요청 출고보류</option>
							        		<option value="sum_post">묶음배송</option>
							        		<option value="req_option_impli">요청 옵션 이행</option>
							        		<option value="approval">관리자 출고승인</option>
							        	</select>
							        	
						        		<input type="text" name="searchValue" id ="searchValue" placeholder="검색어 를 입력해주세요.">
						        		<button type="button" id = "btn_Search" class="searchBtn">조회</button>
							       	
		       				 </div>
						<table class = "input_table" style="width:100%">
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>상품정보 코드</th>
									<th>라이키패스</th>
									<th>고객요청 출고보류</th>
									<th>묶음배송</th>
									<th>요청 옵션 이행 여부</th>
									<th>관리자 출고승인 여부</th>						
									<th>출고 등록</th>						
								</tr>								
							</thead>
							  <tbody>
								<tr th:if="${not #lists.isEmpty(regForwardingList)}" th:each = "i :${regForwardingList}">
									<td class="incoming_checkbox"><input type="checkbox"></td>									
									<td th:text="${i.goodsInfoCode}"></td>
									<td th:text="${i.goodsInfoDto.likeyPass}"></td>
									<td th:text="${i.incomingPostpone}"></td>
									<td th:text="${i.sumPost}"></td>
									<td th:text="${i.reqOptionImpli}"></td>
									<td th:text="${i.incomingApproval}"></td>
									<td align="center">
										<button type="button" class="forwarding_modal_open add_button">출고등록</button>
									</td>
								</tr>
							  </tbody>
						</table>
					</form>
				</div>
				
				<!-- .forwarding_modal_open 등록 버튼 누르면 출력되는 모달 -->
				<div class="modal">
					<div class="incoming_modal_content">
						
					  <th:block>
						
						<form id="forwarding_reg_form" action="#" method="#">
						<table class="input_table"><tbody>
						
							<tr>
								<th>상품정보 코드</th>
								<td>
								 	<label id="goodsInfoCode"></label>
								</td>
							</tr>
							<tr>
								<th>라이키패스 가입여부</th>
								<td>
								 	<label id="likeyPass"></label>
								</td>
							</tr>
							<tr>
								<th>출고 배송회사</th>
								<td> <input type="text" name="outCompany" id="outCompany"> </td>
							</tr>
							<tr>
								<th>출고 운송장번호</th>
								<td> <input type="text" name="outTrackingNum" id="outTrackingNum"> </td>
							</tr>
						</tbody></table>
						</form>
						
						<div class="forwarding_modal_button" align="center">
							<button type="submit" class="forwarding_modal_reg add_button" form="forwarding_reg_form">등록</button>
							<button type="button" class="forwarding_modal_close cancel_button">취소</button>
						</div>
						
					  </th:block>
					</div>
				</div>
				<!-- #incoming_modal_open 등록 버튼 누르면 출력되는 모달끝 -->
			
				<!-- ========== 입고등록 화면 끝 ========== -->

			</div>
          </div>
        </div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

	$(function(){
		//출고등록 버튼 클릭 시 모달
		$(document).on('click', '.forwarding_modal_open', function(){
			var goodsInfoCode = $(this).parents('tr').children().eq(1).text();
			
			var request = $.ajax({
				  url: "/forwardingGoodsInfoByCode",
				  method: "GET",
				  data: { 'goodsInfoCode' : goodsInfoCode },
				  dataType: "json"
				});
				 
				request.done(function( data ) {
					console.table(data)
					$('#goodsInfoCode').text(data.goodsInfoCode);
					$('#likeyPass').text(data.likeyPass);
				});
				 
				request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});
			$('.modal').css('display', 'block');
		});
		
		$(document).on('click', '.forwarding_modal_close', function(){
			$('.modal').css('display', 'none');
		});
	});

</script>
</body>

</html>