<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>사업장 등록</h1>
	<from id="workPlaceRegFrom">
		<table>
			<tr>	
				<td>
					<input type="text" name=workplaceCode placeholder="사업장코드">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=companyNumber placeholder="사업자등록번호">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workPlaceName placeholder="사업장명">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workplaceRepresentative placeholder="사업장대표자성명">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workplaceDelegateNum placeholder="사업장대표자주민등록번호">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workplaceAddr placeholder="사업장주소">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workplaceCate placeholder="회사종목">	
				</td>
			</tr>
			<tr>	
				<td>
					<input type="text" name=workplaceBirth placeholder="개업날짜">	
				</td>
			</tr>
		</table>
	</from>
		
		
	
	
</body>
</html>