@charset "UTF-8";

.sub_contents_wrap {margin-top:30px;margin-left:70px;}

.sub_contents_wrap .left_menu {width:179px;margin-right:70px;margin-left:50px;}
.sub_contents_wrap .left_menu > div {height:38px;padding-left:20px;background-color:#303030;border-radius:5px 5px 0 0;font-size:13px;color:#ffffff;line-height:38px;}

.sub_contents_wrap .left_menu a {letter-spacing:-1px;}


/* 대행신청서수정 css*/
.detail_title {margin-bottom:26px;}
.detail_title .text1 {display:inline-block;border-bottom:3px solid #f47827;padding-bottom:10px;font-size:24px;color:#3f3f3f;font-weight:bold;}
.detail_box1_wrap .title {height:50px;background-color:#f3f3f3;border:1px solid #d8d8d8;font-size:16px;color:#3f3f3f;font-weight:bold;line-height:50px;text-align:center;}
.detail_box1_wrap .title font {color:#f47827}
.detail_box1_wrap .table_box td {height:58px;border-bottom:1px solid #d5d5d5;}
.detail_box1_wrap .table_box td.td1 {width:70px;padding:0 42px 0 255px;font-size:14px;color:#3f3f3f;font-weight:bold;}
.detail_box1_wrap .table_box td.td2 {font-size:14px;color:#3f3f3f;}
.detail_box1_wrap .table_box td.td2 .input_ {width:558px;height:36px;line-height:36px;font-size:14px;color:#3f3f3f;background-color:#f8f8f8;border:1px solid #c2c2c2;padding-left:13px;}


/*마이페이지 센터별 입출고 현황*/
.mypage_sub_title1 {margin-top:30px;}
.mypage_sub_title1 > div {float:left;}
.mypage_sub_title1 > div:first-child {font-size:23px;color:#3f3f3f;font-weight:bold;}
.mypage_sub_title1 > div:last-child {font-size:13px;color:#ff9520;padding:5px 0 0 15px;}

.mypage_warehousing_table {margin-top:20px;border-collapse:collapse;}
.mypage_warehousing_table td {width:14%;border:1px solid #cccccc;text-align:center;padding:20px 0 20px;}
.mypage_warehousing_table .country {font-size:15px;color:#3f3f3f;padding:13px 0 7px;}
.mypage_warehousing_table .date {font-size:14px;color:#ff9520;font-weight:bold;}

/*마이페이지 관리하기*/
.mypage_management_box {margin-top:25px;border:1px solid #cccccc}
.mypage_management_box .title {height:60px;background-color:#f8f8f8;padding:0 29px;}
.mypage_management_box .title span {display:inline-block;line-height:67px;font-size:23px;color:#3f3f3f;font-weight:bold;background:url(image/S_mypage_icon_09.gif) 0 50% no-repeat;padding-left:43px;}

.mypage_management_box table {margin:30px 0 0 63px;}

.mypage_management_box td {width:30%;padding-bottom:45px; }
.mypage_management_box td > div {float:left; }

.mypage_management_box td .left_title {width:80px;padding-top:10px;text-align:center; }
.mypage_management_box td .left_title > div:last-child {font-size:16px;color:#ff9520;font-weight:bold;padding-top:8px;}

.mypage_management_box td .right_text {padding-left:15px; width:200px;}
.mypage_management_box td .right_text ul li a {font-size:14px;color:#3f3f3f;line-height:30px;}


/*마이페이지 공지,환욜,질문 */

.mypage_bbs_table {margin-top:30px;border-collapse:collapse;}
.mypage_bbs_table td {border:1px solid #d5d5d5;}
.mypage_bbs_table td table td {border:0;}
.mypage_bbs_table .borard_box {width:33%;background-color:#f8f8f8;vertical-align:top;}

.mypage_bbs_table .borard_box > div {position:relative;padding:0 30px;}
.mypage_bbs_table .borard_box > div .title {height:54px;line-height:53px;font-size:17px;color:#404040;font-weight:bold;border-bottom:2px solid #d5d5d5;}
.mypage_bbs_table .borard_box > div .title font {font-size:13px;color:#808080;font-weight:normal;}
.mypage_bbs_table .borard_box > div .more {position:absolute;width:38px;top:35px;right:20px; font-size: 10px; color:black;}
.mypage_bbs_table .borard_box > div .more a {color: black;}
.mypage_bbs_table .borard_box > div table {margin:5px 0 15px;}
.mypage_bbs_table .borard_box > div table .td1 a {font-size:13px;color:#7f7f7f;font-weight:bold;line-height:29px;}
.mypage_bbs_table .borard_box > div table .td2 {font-size:10px;color:#cccccc;text-align:right}

.mypage_bbs_table .exchange_box {padding:0 31px;}
.mypage_bbs_table .exchange_box .title {height:45px;font-size:17px;color:#404040;font-weight:bold;line-height:0px;}

.mypage_bbs_table .exchange_box .exchange_info > div {float:left;}
.mypage_bbs_table .exchange_box .exchange_info .date {width:100px;border:1px solid #d5d5d5;margin-right:3px;}
.mypage_bbs_table .exchange_box .exchange_info .date > div:first-child {height:42px;line-height:40px;background-color:#f8f8f8;text-align:center;font-size:19px;color:#292929;font-weight:bold;}
.mypage_bbs_table .exchange_box .exchange_info .date > div:last-child {height:42px;line-height:40px;text-align:center;font-size:16px;color:#7f7f7f;font-weight:bold;}

.mypage_bbs_table .exchange_box .country_exc {width:221px;}
.mypage_bbs_table .exchange_box .country_exc table {height:40px;background-color:#f8f8f8;border:1px solid #d5d5d5;margin-bottom:5px;}
.mypage_bbs_table .exchange_box .country_exc table td {background:url(image/S_mypage_icon_29.gif) 0 50% no-repeat;text-align:center;}
.mypage_bbs_table .exchange_box .country_exc table td:first-child {width:61px;font-size:14px;color:#7f7f7f;font-weight:bold;background:none;}
.mypage_bbs_table .exchange_box .country_exc table td:nth-child(2) {width:46px;font-size:14px;color:#ff9520;font-weight:bold;} 
.mypage_bbs_table .exchange_box .country_exc table td:nth-child(3) {text-align:right;padding-right:14px;color:#2b2b2b;font-weight:bold;}


.mypage_point_use {margin-top:30px;}
.mypage_point_use .title {font-size:22px;color:#3f3f3f;font-weight:bold;}

.mypage_point_use .use_table {border-collapse:collapse;margin-top:17px;}
.mypage_point_use .use_table th, .mypage_point_use .use_table td {border:1px solid #cccccc;} 
.mypage_point_use .use_table th {height:33px;background-color:#f8f8f8;text-align:center;font-size:13px;color:#7f7f7f;font-weight:bold;}
.mypage_point_use .use_table th.date {width:209px;}
.mypage_point_use .use_table th.point {width:259px;}
.mypage_point_use .use_table td {height:35px;text-align:center;font-size:13px;color:#3f3f3f;}
.mypage_point_use .use_table td font {color:#ff9520;font-weight:bold;}
.mypage_point_use .use_table td.use {text-align:center;padding:0 30px;}


/*배송대행신청 미작성 입고 건수 */
.shipping_nowrite_table {margin-top:5px;border:1px solid #cccccc;background-color:#f8f8f8;padding:20px 42px;}
.shipping_nowrite_table > ul > li {float:left;width:348px;background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;font-size:14px;color:#515151}
.shipping_nowrite_table .text {background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;font-size:14px;color:#515151;}

/*ajax 호출 css*/
.shipping_important_text {margin-top:12px;border:1px solid #cccccc;}
.shipping_important_text .title {background-color:#f8f8f8;height:50px;line-height:50px;font-size:18px;color:#ff9520;font-weight:bold;padding-left:40px;}

.shipping_important_text .text_box {padding:10px 40px;}
.shipping_important_text .text_box .text1 {font-size:14px;color:#515151;margin-bottom:10px;background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;line-height:19px;}
.shipping_important_text .text_box .text2 {font-size:15px;color:#515151;font-weight:bold;margin-bottom:5px;background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;}
.shipping_important_text .text_box .text3 {line-height:25px;margin-bottom:20px;}
.shipping_important_text .text_box .text3 li {font-size:14px;color:#515151}

/* 배송대행신청 미작성 입고 건수 */
.nodata_wrap {width:100%;background-color:#ffffff;}
		
.nodata_wrap .nodate_list .bt1 {position:absolute; width:190px;height:40px;z-index:1;right:200px;top:-5px;text-align:center;background-color:#ff9520;}

.nodata_wrap .nodate_list .list_bt {margin-top:56px;}
.nodata_wrap .nodate_list .list_bt li {float:right;height:38px;line-height:38px;background-color:#ff9520;border-radius:5px;margin-left:15px;padding:0 16px;text-align:center;}
.nodata_wrap .nodate_list .list_bt li a {font-size:14px;color:#ffffff;font-weight:bold;}
.nodata_wrap .nodate_list .list_bt li.more {background:none;padding:13px 0 0 4px;line-height:0px;}
.nodata_wrap .nodate_list .list_bt div {float:right;line-height:38px;font-size:14px;color:#6a6a6a;}
.nodata_wrap .nodate_list .list_bt div.icon_text {padding:14px 0 0 3px;}


.nodata_wrap .nodate_list {margin-left:0px;margin-top:30px;position:relative;}

.nodata_wrap .nodate_list .title {float:left;background:url(image/S_sub_icon_01.gif) 0 80% no-repeat;padding-left:17px;font-size:14px;color:#3f3f3f;font-weight:bold;padding-top:15px;}

.nodata_wrap .nodate_list .close {position:absolute;right:0;top:-5px;}


.nodata_wrap .nodate_list .data_table {border-collapse:collapse;margin-top:7px;}
.nodata_wrap .nodate_list .data_table th, .nodate_list .data_table td {border:1px solid #cccccc;padding:5px 5px;} 
.nodata_wrap .nodate_list .data_table th {height:40px;background-color:#f8f8f8;text-align:center;font-size:13px;color:#7f7f7f;font-weight:bold;}
.nodata_wrap .nodate_list .data_table td {height:35px;text-align:center;font-size:13px;color:#3f3f3f;}

.nodata_wrap .nodate_list .list_table1 {height:43px;border:1px solid #cccccc;background-color:#f8f8f8;}
.nodata_wrap .nodate_list .list_table1 th {font-size:14px;color:#939393;font-weight:bold;background:url(image/S_sub_icon_03.gif) 0 50% no-repeat;text-align:center;}
.nodata_wrap .nodate_list .list_table1 th:first-child {background:none;}
.nodata_wrap .nodate_list .list_table1 th.td0 {width:30px}
.nodata_wrap .nodate_list .list_table1 th.td1 {width:121px;}
.nodata_wrap .nodate_list .list_table1 th.td2 {width:155px;}
.nodata_wrap .nodate_list .list_table1 th.td3 {width:134px;}
.nodata_wrap .nodate_list .list_table1 th.td4 {width:147px;}
.nodata_wrap .nodate_list .list_table1 th.td5 {width:120px;}
.nodata_wrap .nodate_list .list_table1 th.td6 {width:150px;}

.nodata_wrap .nodate_list .list_table2 td {height:43px;font-size:14px;color:#848484;text-align:center;}
.nodata_wrap .nodate_list .list_table2 td.td0 {width:30px}
.nodata_wrap .nodate_list .list_table2 td.td1 {width:121px;}
.nodata_wrap .nodate_list .list_table2 td.td2 {width:155px;}
.nodata_wrap .nodate_list .list_table2 td.td3 {width:134px;}
.nodata_wrap .nodate_list .list_table2 td.td4 {width:147px;}
.nodata_wrap .nodate_list .list_table2 td.td5 {width:120px;}
.nodata_wrap .nodate_list .list_table2 td.td6 {width:150px;}
.nodata_wrap .nodate_list .list_table2 td.td7 table .img {padding:10px 0 10px 15px}
.nodata_wrap .nodate_list .list_table2 td.td7 table .img img {width:50px;height:50px;}

.nodata_wrap .nodate_list .nodata_search {border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding:9px 0;}
.nodata_wrap .nodate_list .nodata_search table {margin:0 auto;}
.nodata_wrap .nodate_list .nodata_search table td:first-child {padding-right:5px;}
.nodata_wrap .nodate_list .nodata_search table td:last-child {padding-left:17px;}
.nodata_wrap .nodate_list .nodata_search table td select {width:135px;height:38px;border:1px solid #c2c2c2;}
.nodata_wrap .nodate_list .nodata_search table td input {width:280px;height:36px;border:1px solid #c2c2c2;line-height:36px;padding-left:13px;}
.nodata_wrap .nodate_list .nodata_search table td a {display:inline-block;width:135px;height:38px;background-color:#535353;font-size:15px;color:#ffffff;font-weight:bold;text-align:center;line-height:37px;}

.nodata_wrap .nodate_text {background-color:#f8f8f8;padding:32px 45px;}
.nodata_wrap .nodate_text > div:first-child {font-size:16px;color:#272727;font-weight:bold;padding-bottom:20px;}
.nodata_wrap .nodate_text > div:last-child {font-size:14px;color:#535353;line-height:25px;}

.nodata_wrap .img_box {position:relative;display:none;}
.nodata_wrap .img_box > div {position:absolute;right:0;top:0;width:200px;height:200px;border:1px solid #e7e7e7;background-color:#ffffff;}
.nodata_wrap .img_box .close {position:absolute;width:27px;right:-1px;top:-1px;}

.shipping_important_text {margin-top:12px;border:1px solid #cccccc;}
.shipping_important_text .title {background-color:#f8f8f8;height:65px;line-height:64px;font-size:20px;color:#3f3f3f;font-weight:bold;padding-left:40px;}

.shipping_important_text .text_box {padding:30px 40px;}
.shipping_important_text .text_box .text1 {font-size:15px;color:#515151;margin-bottom:17px;background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;line-height:21px;}
.shipping_important_text .text_box .text2 {font-size:17px;color:#515151;font-weight:bold;margin-bottom:13px;background:url(image/S_sub2_2_1_icon_03.gif) 0 50% no-repeat;padding-left:12px;}
.shipping_important_text .text_box .text3 {line-height:30px;margin-bottom:22px;}
.shipping_important_text .text_box .text3 li {font-size:15px;color:#515151}

/*데이터 */
.data_list {margin-left:0px;margin-top:30px;position:relative;}
.data_list .title {float:left;background:url(image/S_sub_icon_01.gif) 0 80% no-repeat;padding-left:17px;font-size:14px;color:#3f3f3f;font-weight:bold;padding-top:15px;}

.data_list .data_table {border-collapse:collapse;margin-top:7px;}
.data_list .data_table th, .data_list .data_table td {border:1px solid #cccccc;padding:5px 5px;} 
.data_list .data_table th {height:40px;background-color:#f8f8f8;text-align:center;font-size:13px;color:#7f7f7f;font-weight:bold;}
.data_list .data_table td {height:35px;text-align:center;font-size:13px;color:#3f3f3f;}

/*상품픽업여부*/
.shipping_pickup_check {margin-top:42px;}
.shipping_pickup_check .title {font-size:17px;color:#515151;font-weight:bold;}
.shipping_pickup_check .title font {font-size:13px;font-weight:normal;}

.shipping_pickup_check .search_bt {margin-top:13px;}
.shipping_pickup_check .search_bt .select select {width:126px;height:34px;border:1px solid #cccccc}
.shipping_pickup_check .search_bt .input {padding:0 8px 0 4px}
.shipping_pickup_check .search_bt .input input {width:314px;height:32px;line-height:31px;color:#515151;padding-left:20px;border:1px solid #cccccc;}
.shipping_pickup_check .search_bt .input_bt a {display:inline-block;width:94px;height:34px;background-color:#515151;line-height:34px;text-align:center;text-align:center;font-size:14px;color:#ffffff;font-weight:bold;}

.shipping_pickup_check .pickup_check_table {border-collapse:collapse;margin-top:12px;border:1px solid #cccccc}
.shipping_pickup_check .pickup_check_table th, .shipping_pickup_check .pickup_check_table td {border-left:1px solid #cccccc}
.shipping_pickup_check .pickup_check_table th {height:37px;font-size:14px;color:#515151;font-weight:bold;text-align:center;background-color:#f8f8f8}
.shipping_pickup_check .pickup_check_table th.td1 {width:125px;}
.shipping_pickup_check .pickup_check_table th.td2 {width:225px;}
.shipping_pickup_check .pickup_check_table th.td3 {width:167px;}
.shipping_pickup_check .pickup_check_table th.td4 {width:512px;}
.shipping_pickup_check .pickup_check_table td {height:40px;font-size:14px;color:#515151;text-align:center;}
.shipping_pickup_check .pickup_check_table td.td5 {color:#f76c87}

.shipping_pickup_check .reference_text {font-size:13px;color:#515151;font-weight:bold;margin-top:10px;}

/*묶음배송 신청하기*/
.more_info {position:relative;display:none;}
.more_info > div {position:absolute;width:1140px;height:205px;left:0;top:-375px;border:2px solid #ff9520;background-color:#ffffff;padding:30px;}
.more_info > div .sub_title {position:relative;height:41px;border-bottom:1px solid #cccccc;}
.more_info > div .sub_title > div:first-child {font-size:20px;color:#3f3f3f;font-weight:bold;}
.more_info > div .sub_title .close {position:absolute;width:27px;right:0;top:0px;}

.more_info > div .more_text1 {margin-top:20px;}
.more_info > div .more_text1 > div {font-size:14px;color:#565656;line-height:25px;}


/*배송대행 신청 검색*/
.shipping_applications_search {margin-top:30px;}
		
.shipping_applications_search .applications_table {border-collapse:collapse;margin-top:12px;border:1px solid #cccccc}
.shipping_applications_search .applications_table th, .shipping_applications_search .applications_table td {border-left:1px solid #cccccc}

.shipping_applications_search .applications_table th {padding:5px 0;font-size:14px;color:#515151;font-weight:bold;text-align:center;background-color:#f8f8f8;border-bottom:1px solid #cccccc;}
.shipping_applications_search .applications_table th font {font-size:12px;color:#979797;font-weight:normal;}
.shipping_applications_search .applications_table th.td0 {width:30px}
.shipping_applications_search .applications_table th.td1 {width:45px}
.shipping_applications_search .applications_table th.td2 {width:150px}
.shipping_applications_search .applications_table th.td3 {width:137px}
.shipping_applications_search .applications_table th.td4 {width:157px}
.shipping_applications_search .applications_table th.td5 {width:75px}
.shipping_applications_search .applications_table th.td6 {width:96px}
.shipping_applications_search .applications_table th.td7 {width:115px}
.shipping_applications_search .applications_table th.td8 {width:142px}
.shipping_applications_search .applications_table th.td9 {width:85px}
.shipping_applications_search .applications_table th.td10 {width:*}

.shipping_applications_search .applications_table td {word-break:break-all;padding:3px 3px;vertical-align:middle;text-align:center;font-size:12px;color:#515151;line-height:13px;border-bottom:1px solid #cccccc;}
.shipping_applications_search .applications_table td.td1, .shipping_applications_search .applications_table /* td.td6 */ {vertical-align:middle;}
.shipping_applications_search .applications_table td font {color:#4c87a9}
.shipping_applications_search .applications_table td .text1 {height:auto;font-size:13px;color:#515151;line-height:20px;}
.shipping_applications_search .applications_table td .bt1 {display:inline-block;height:23px;line-height:23px;padding:0 13px;border:1px solid #A6A6A6;}
.shipping_applications_search .applications_table td .bt1 a {font-size:12px;color:#515151;}
.shipping_applications_search .applications_table td .bt2 {display:inline-block;height:23px;line-height:23px;padding:0 13px;border:1px solid #515151;background-color:#515151;}
.shipping_applications_search .applications_table td .bt2 a {font-size:12px;color:#ffffff;}



/*배송대행 신청서 수정*/
.sub_contents_wrap {margin-top:30px;}
.sub_navi_text {height:30px;border-bottom:1px solid #d6d6d6;margin-bottom:30px;}
.sub_navi_text > div {background:url(image/S_navi_home.gif) 0 50% no-repeat;padding-left:0px;font-size:13px;color:#6e6e6e;}

.detail_title {border-bottom:1px solid #d8d8d8;margin-bottom:26px;}
.detail_title .text1 {display:inline-block;border-bottom:3px solid #f47827;padding-bottom:10px;font-size:24px;color:#3f3f3f;font-weight:bold;}

#body_container {width: 1300px; margin-left : 10%;} 
#body_container .container {max-width: 1200px; padding:0;}
#body_container .container .sub_contents_wrap {margin-left : 0 ; }

.detail_box2_wrap .title {margin-left:70px;width:1050px;margin-top:10px;height:60px;background-color:#f3f3f3;border:1px solid #d8d8d8;font-size:18px;color:#3f3f3f;font-weight:bold;line-height:60px;text-align:center;}
.detail_box2_wrap .slide_bt {text-align:center;cursor:pointer;}


.detail_box2_wrap .contents_wrap {margin-left:70px;width:1050px;margin-top:45px;border:2px solid #c2c2c2;padding:40px 18px;}
.detail_box2_wrap .contents_wrap .table_box {border-collapse:collapse;border:1px solid #cccccc;}
.detail_box2_wrap .contents_wrap .table_box th {height:37px;background-color:#f8f8f8;text-align:center;font-size:14px;color:#515151;font-weight:bold;border-left:1px solid #cccccc;}
.detail_box2_wrap .contents_wrap .table_box th.td2 {width:79px;}
.detail_box2_wrap .contents_wrap .table_box th.td3 {width:152px;}
.detail_box2_wrap .contents_wrap .table_box th.td4 {width:190px;}
.detail_box2_wrap .contents_wrap .table_box td {padding:10px 0;border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;text-align:center;}
.detail_box2_wrap .contents_wrap .table_box td.td1 {padding:0 10px;}
.detail_box2_wrap .contents_wrap .table_box td.td1 > div {background-color:#f9f7e1;padding:20px 25px;font-size:14px;color:#3f3f3f;line-height:28px;text-align:left;}
.detail_box2_wrap .contents_wrap .table_box td.td1 > div font {color:#ff9520;font-weight:bold;}
.detail_box2_wrap .contents_wrap .table_box td.td2 {font-size:14px;color:#3f3f3f;font-weight:bold;}
.detail_box2_wrap .contents_wrap .table_box td.td3 img {width:96px;height:73px;}
.detail_box2_wrap .contents_wrap .table_box td.td3 > div:last-child > a {display:inline-block;font-size:14px;color:#8f8f8f;font-weight:bold;margin-top:7px;padding-right:7px;background:url(image/S_detail_icon_01.gif) right 50% no-repeat;}
.detail_box2_wrap .contents_wrap .table_box td.td4 > div {background-color:#f9f7e1;padding:2px 2px;font-size:14px;color:#3f3f3f;line-height:28px;text-align:center;}

.detail_box2_wrap .contents_wrap .text_more {margin-top:15px;background-color:#f2f2f2;padding:35px 40px;}
.detail_box2_wrap .contents_wrap .text_more .title2 {font-size:20px;color:#f58340;font-weight:bold;line-height:20px;background:url(image/S_detail_icon_04.gif) 0 50% no-repeat;padding-left:25px;}
.detail_box2_wrap .contents_wrap .text_more .text1 {padding-top:15px;}
.detail_box2_wrap .contents_wrap .text_more .text1 > li {padding:6px 0;font-size:15px;color:#282828;font-weight:normal;line-height:5px;}
.detail_box2_wrap .contents_wrap .text_more .text1 > li:first-child {background:url(image/S_detail_icon_02.gif) 0 3px no-repeat;padding:0 0 23px 12px;}
.detail_box2_wrap .contents_wrap .text_more .title3 {padding-top:34px;font-size:15px;color:#f47827;font-weight:bold;text-decoration:underline;}
.detail_box2_wrap .contents_wrap .text_more .text2 {padding-top:15px;}
.detail_box2_wrap .contents_wrap .text_more .text2 > li {position:relative;padding:8px 0;font-size:15px;color:#515151;line-height:20px;background:url(image/S_detail_icon_03.gif) 0 19px no-repeat;padding-left:9px;}
.detail_box2_wrap .contents_wrap .text_more .text2 > li.info_bt {padding-top:0;background:none;}
.detail_box2_wrap .contents_wrap .text_more .text2 > li.info_bt > div {display:inline-block;vertical-align:middle;padding-left:10px;}

.detail_box2_wrap .contents_wrap .contents_bt {margin:0 auto;}
.detail_box2_wrap .contents_wrap .contents_bt td {padding:0 6px;}

.detail_box3_wrap {margin-top:50px;}

.detail_box3_wrap .more_text_box {position:relative;z-index:9999;display:none;}
.detail_box3_wrap .more_text_box > div {position:absolute;z-index:9999;width:393px;z-index:100;left:5px;top:14px;padding:17px 28px;background-color:#fefbe8;border:1px solid #dcbfa0;font-size:14px;color:#e76524;font-weight:bold;line-height:23px;}


.detail_box3_wrap .option_text {border:2px solid #c2c2c2}
.detail_box3_wrap .option_text .option_data {padding:20px 62px 40px 70px;}
				
.detail_box3_wrap .option_text .option_data .img_wrap {float:left;width:305px;margin-right:32px;}
.detail_box3_wrap .option_text .option_data .img_wrap .image {border:1px solid #cccccc;margin-bottom:10px;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload {margin-top:3px;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload > div {float:left;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload > div:first-child {width:26px;padding-top:13px;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload > div.bt_01 {width:199px;height:38px;background-color:#3f3f3f;text-align:center;line-height:37px;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload > div.bt_01 a {display:inline-block;font-size:14px;color:#ffffff;font-weight:bold;background:url(image/S_shipping_form_icon_08.gif) right 50% no-repeat;padding-right:15px;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload > div.bt_02 input {width:177px;height:36px;border:1px solid #c2c2c2;line-height:35px;font-size:14px;font-weight:bold;color:#4f4f4f;padding:0 10px;}
#upload_url {background:url(image/S_shipping_form_img_12.gif);background-position:0 0;background-repeat:no-repeat;}

.detail_box3_wrap .option_text .option_data .img_wrap .upload_bt {width:149px;height:38px;margin:0 auto;border-radius:5px;margin-top:10px;background-color:#f47827;text-align:center;}
.detail_box3_wrap .option_text .option_data .img_wrap .upload_bt a {display:inline-block;line-height:37px;font-size:14px;color:#ffffff;font-weight:bold;background:url(image/S_shipping_form_icon_12.gif) right 50% no-repeat;padding-right:18px;}




.detail_box3_wrap .option_text .option_data .text_wrap {float:left;width:710px;}
.detail_box3_wrap .option_text .option_data .text_wrap .item_table td.td1 {width:90px;font-size:14px;color:#6a6a6a;font-weight:bold;height:38px;line-height:38px;letter-spacing:-1px;}
.detail_box3_wrap .option_text .option_data .text_wrap .item_table td.td1 > div {float:left;line-height:38px;font-size:14px;color:#6a6a6a;}
.detail_box3_wrap .option_text .option_data .text_wrap .item_table td.td1 > div.icon_text {padding:0 0 0 3px;}


.detail_box3_wrap .text_wrap .item_table td.td2 {width:225px;padding:0 0 10px}
.detail_box3_wrap .text_wrap .item_table td.td2 > input {width:253px;height:36px;border:1px solid #c2c2c2;padding-left:10px;line-height:36px;color:#6a6a6a;font-size:12px;font-family:'돋움';}
.detail_box3_wrap .text_wrap .item_table td.td2 select {width:265px;height:36px;border:1px solid #c2c2c2}
.detail_box3_wrap .text_wrap .item_table td.td2 > div {float:left;}
.detail_box3_wrap .text_wrap .item_table td.td2 > div.basic_bt {width:61px;text-align:center;font-size:11px;color:#ffffff;font-family:'돋움';padding:10px 0 6px;margin:3px 0 0 5px;}

.detail_box3_wrap .text_wrap .item_table td.td3 {padding-left:10px;}

.detail_box3_wrap .text_wrap .item_bt_list {margin-top:22px;}
.detail_box3_wrap .text_wrap .item_bt_list > div {float:left;height:38px;line-height:37px;margin-right:4px;padding:0 14px;border:1px solid #c2c2c2;background-color:#f5f5f5;border-radius:5px;}
.detail_box3_wrap .text_wrap .item_bt_list > div a {display:inline-block;font-size:14px;color:#6e6e6e;font-weight:bold;}
.detail_box3_wrap .text_wrap .item_bt_list > div:first-child {background-color:#f47827;border:1px solid #f47827;}
.detail_box3_wrap .text_wrap .item_bt_list > div:first-child a {background:url(image/S_shipping_form_icon_12.gif) right 50% no-repeat;padding-right:16px;color:#ffffff;}
.detail_box3_wrap .text_wrap .item_bt_list > div:nth-child(2) a {background:url(image/S_shipping_form_icon_13.gif) right 50% no-repeat;padding-right:17px;}
.detail_box3_wrap .text_wrap .item_bt_list > div:nth-child(3) a {background:url(image/S_shipping_form_icon_08.gif) right 50% no-repeat;padding-right:17px;}
.detail_box3_wrap .text_wrap .item_bt_list > div:last-child {background-color:#6e6e6e;border:1px solid #6e6e6e;}
.detail_box3_wrap .text_wrap .item_bt_list > div:last-child a {background:url(image/S_shipping_form_icon_14.gif) right 50% no-repeat;padding-right:15px;color:#ffffff;}


.detail_box3_wrap .text_wrap .cautions_text {margin:80px 0 10px;font-size:13px;color:#ed8a5e;font-weight:bold;line-height:20px;}

.detail_box3_wrap .text_wrap .info_bt {width:190px;height:26px;background-color:#f1f1f1;border-radius:5px;text-align:center;line-height:25px;}
.detail_box3_wrap .text_wrap .info_bt a {display:inline-block;background:url(image/S_shipping_form_icon_08.gif) right 50% no-repeat;padding-right:10px;font-size:13px;color:#8a8a8a;font-weight:bold;}

.detail_box3_wrap .additional_service {background-color:#f5f5f5;padding:54px 70px 39px;}

.detail_box3_wrap .additional_service .title > div {float:left;}
.detail_box3_wrap .additional_service .title > div:first-child {font-size:22px;color:#3f3f3f;font-weight:bold;padding-right:25px;}
.detail_box3_wrap .additional_service .title > div:nth-child(2) {font-size:14px;color:#8a8a8a;padding-top:5px;}

.detail_box3_wrap .additional_service .addition_bt {position:relative;}
.detail_box3_wrap .additional_service .addition_bt > div {position:absolute;width:154px;height:36px;line-height:35px;right:0;top:-7px;border:1px solid #f47827;background-color:#f5f5f5;border-radius:5px;text-align:center;}
.detail_box3_wrap .additional_service .addition_bt > div a {display:inline-block;font-size:14px;color:#f47827;font-weight:bold;background:url(image/S_shipping_form_icon_15.gif) right 50% no-repeat;padding-right:18px;}

.detail_box3_wrap .additional_service .addition_bt2 {position:relative;}
.detail_box3_wrap .additional_service .addition_bt2 > div {position:absolute;width:120px;height:36px;line-height:35px;right:180px;top:-7px;border:1px solid #f47827;background-color:#f5f5f5;border-radius:5px;text-align:center;}
.detail_box3_wrap .additional_service .addition_bt2 > div a {display:inline-block;font-size:14px;color:#f47827;font-weight:bold;background:url(image/S_shipping_form_icon_15.gif) right 50% no-repeat;padding-right:18px;}


.detail_box3_wrap .additional_service .additional_box {border:1px solid #c2c2c2;border-radius:5px;background-color:#ffffff;margin-top:30px;}
.detail_box3_wrap .additional_service .additional_box td {border-left:1px solid #c2c2c2}
.detail_box3_wrap .additional_service .additional_box td:first-child {border-left:0;}
.detail_box3_wrap .additional_service .additional_box td > div:first-child {padding-top:6px;text-align:center;border-bottom:1px dashed #c2c2c2}
.detail_box3_wrap .additional_service .additional_box td .check_bt {height:54px;text-align:center;line-height:53px;font-size:14px;color:#3f3f3f;font-weight:bold;}

.detail_box3_wrap .additional_service .additional_box td .check_select {height:54px;text-align:center}
.detail_box3_wrap .additional_service .additional_box td .check_select select {width:158px;height:24px;border:1px solid #c2c2c2;margin-top:15px;font-size:11px;font-family:'돋움'}


.detail_box3_wrap .request_text {margin-top:15px;}
.detail_box3_wrap .request_text td:first-child {background:url(image/S_shipping_form_icon_08.gif) 0 50% no-repeat;font-size:17px;color:#8a8a8a;font-weight:bold;padding:0 15px;}
.detail_box3_wrap .request_text td:nth-child(2) select {width:248px;height:38px;border:1px solid #c2c2c2;font-size:12px;font-family:'돋움';padding-left:10px;}

.detail_box3_wrap .all_price {margin-top:80px;border:2px solid #f47827}

.detail_box3_wrap .all_price .left_text {float:left;width:632px;padding:45px 0 0 130px;}

.detail_box3_wrap .all_price .left_text table td {vertical-align:top;}

.detail_box3_wrap .all_price .left_text table td .gray {background-color:#f5f5f5;}
.detail_box3_wrap .all_price .left_text table td.td1 {vertical-align:top;width:130px;font-size:14px;color:#6a6a6a;font-weight:bold;line-height:38px;text-align:right;padding-right:22px;}
.detail_box3_wrap .all_price .left_text table td.td2 {padding-bottom:10px;}
.detail_box3_wrap .all_price .left_text table td.td2 input {width:187px;height:36px;line-height:35px;padding-left:10px;border:1px solid #c2c2c2;}
.detail_box3_wrap .all_price .left_text table td.td_price input {font-size:25px;color:#3f3f3f;font-weight:bold;font-family:Tahoma;}
.detail_box3_wrap .all_price .left_text table td.td3 {padding:0 2px 0 13px;}
.detail_box3_wrap .all_price .left_text table td.td3 input {width:81px;height:36px;border:1px solid #c2c2c2;padding-left:10px;}
.detail_box3_wrap .all_price .left_text table td.td4 select {width:57px;height:38px;border:1px solid #c2c2c2;padding-left:10px;}

.detail_box3_wrap .all_price .right_text {float:left;width:434px;height:342px;background-color:#f5f5f5;text-align:center;}
.detail_box3_wrap .all_price .right_text > div:first-child {padding:66px 0 16px;font-size:22px;color:#3f3f3f;font-weight:bold;}
.detail_box3_wrap .all_price .right_text > div:nth-child(2) {width:28px;height:2px;margin:0 auto;background-color:#8d8d8d}
.detail_box3_wrap .all_price .right_text > div:nth-child(3) {padding-top:33px;font-size:36px;color:#f47827;font-weight:bold;font-family:Tahoma;}
.detail_box3_wrap .all_price .right_text > div:nth-child(4) {padding-top:10px;font-size:18px;color:#f47827;font-weight:bold;}
.detail_box3_wrap .all_price .right_text > div:nth-child(5) {padding-top:35px;font-size:14px;color:#8a8a8a;}

.detail_box3_wrap .sale_coupon table {border-collapse:collapse;}
.detail_box3_wrap .sale_coupon table td {border:1px solid #c2c2c2;}
.detail_box3_wrap .sale_coupon table td.td1 {width:150px;background-color:#f5f5f5;text-align:center;font-size:14px;color:#6a6a6a;font-weight:bold;}
.detail_box3_wrap .sale_coupon table td.td2 {padding:10px 20px;}
.detail_box3_wrap .sale_coupon table td.td2 input {width:96%;height:36px;border:1px solid #c2c2c2;padding-left:10px;line-height:36px;color:#6a6a6a;}
.detail_box3_wrap .sale_coupon table td.td2 textarea {width:95%;height:100px;border:1px solid #c2c2c2;padding:10px;line-height:22px;color:#6a6a6a;}

.detail_box3_wrap .sale_coupon_text {margin-top:20px;}
.detail_box3_wrap .sale_coupon_text > li {font-size:14px;color:#515151;line-height:25px;margin-bottom:15px;background:url(image/S_sub_1_5_icon_01.gif) 0 5px no-repeat;padding-left:26px;}
.detail_box3_wrap .sale_coupon_text > li font {color:#ed7632;font-weight:bold;}

.detail_box4_wrap {margin-top:125px;}

.detail_box4_wrap .step_main_title {font-size:24px;color:#3f3f3f;font-weight:bold;margin-bottom:20px;background:url(image/S_shipping_form_icon_03.gif) 0 50% no-repeat;}
.detail_box4_wrap .step_main_title font {color:#447b9a;}

.step_sub_title > div {float:left;}
.step_sub_title > div:first-child {font-size:19px;color:#3f3f3f;font-weight:bold;padding-right:15px;}
.step_sub_title > div:nth-child(2) {font-size:14px;color:#f47827;padding-top:5px;}

.detail_box4_wrap .address_table {border-top:2px solid #8d8d8d}
.detail_box4_wrap .address_table td {vertical-align:top;border-bottom:1px solid #e0e0e0}

.detail_box4_wrap .address_table td.td1 {width:120px;padding-left:10px;font-size:14px;color:#3f3f3f;font-weight:bold;line-height:54px;}

.detail_box4_wrap .address_table td.td2 {padding:8px 0;}
.detail_box4_wrap .address_table td.td2 .input_add {width:187px;height:36px;border:1px solid #c2c2c2;padding-left:10px;line-height:36px;}

.detail_box4_wrap .address_table .select_add2 > div {float:left;}
.detail_box4_wrap .address_table .select_add2 > div:nth-child(1), .detail_box4_wrap .address_table .select_add2 > div:nth-child(2) {margin:5px 0 0 2px;width:144px;height:27px;line-height:27px;background-color:#f1f1f1;border-radius:5px;text-align:center;}
.detail_box4_wrap .address_table .select_add2 > div:nth-child(1) a, .detail_box4_wrap .address_table .select_add2 > div:nth-child(2) a {display:inline-block;background:url(image/S_shipping_form_icon_08.gif) right 50% no-repeat;font-size:13px;color:#8a8a8a;font-weight:bold;padding-right:12px;}

.detail_box4_wrap .address_table .name > div {float:left;}
.detail_box4_wrap .address_table .name > div:nth-child(2) {padding-left:14px;font-size:12px;color:#515151;font-family:Tahoma;line-height:38px;}

.detail_box4_wrap .address_table .subdivide > div {float:left;padding-right:30px;line-height:38px;font-weight:bold;font-size:14px;color:#515151;}

.detail_box4_wrap .address_table .recipient > div > div {float:left;}
.detail_box4_wrap .address_table .recipient > div > .info_bt {margin-left:4px;width:170px;height:38px;line-height:38px;background-color:#f47827;border-radius:5px;text-align:center;}
.detail_box4_wrap .address_table .recipient > div > .info_bt a {font-size:14px;color:#ffffff;font-weight:bold;}
.detail_box4_wrap .address_table .recipient > div > div select {margin-left:10px;width:150px;height:38px;border:1px solid #c2c2c2;}

.detail_box4_wrap .address_table .address > div:first-child > div {float:left;}
.detail_box4_wrap .address_table .address > div:first-child > div:nth-child(2) {margin-left:4px;width:147px;height:38px;line-height:38px;background-color:#6e6e6e;border-radius:5px;text-align:center;}
.detail_box4_wrap .address_table .address > div:first-child > div:nth-child(2) a {font-size:14px;color:#ffffff;font-weight:bold;}
.detail_box4_wrap .address_table .address > div:nth-child(3) {margin:9px 0}
.detail_box4_wrap .address_table .address > div .gray {background-color:#f8f8f8;}

.detail_box4_wrap .address_table .requested_term {width:645px;height:38px;border:1px solid #c2c2c2;}


.detail_box4_wrap .box_sugg_deliMsg {position:absolute;z-index:9;margin-top:4px;width:400px;border:solid 1px #c9c9c9;background-color:#fff;}
.detail_box4_wrap .box_sugg_deliMsg li {float:left;width:400px;ont-size:11px;letter-spacing:-1px;color:#3c3c3c;cursor:pointer;}
.detail_box4_wrap .box_sugg_deliMsg li a {display:block;padding:5px 0 2px 4px;display:block;font-size:13px;letter-spacing:-1px;color:#3c3c3c;cursor:pointer;}
.detail_box4_wrap .box_sugg_deliMsg li a:hover {text-decoration:none;background-color:#e6f0fa;}
.pos_r { position:relative; }


.detail_box4_wrap .payment_option {margin-top:55px;border-top:2px solid #8d8d8d;border-bottom:2px solid #8d8d8d;}

.detail_box4_wrap .payment_option > .title {float:left;width:240px;height:110px;;background-color:#f5f5f5;text-align:center;padding-top:40px;}
.detail_box4_wrap .payment_option > .title td:first-child {padding-right:5px;font-size:18px;color:#3f3f3f;font-weight:bold;}

.detail_box4_wrap .payment_option > div:nth-child(2) {float:left;padding:13px 0 13px 49px;}
.detail_box4_wrap .payment_option > div:nth-child(2) table td {padding:10px 0}
.detail_box4_wrap .payment_option > div:nth-child(2) table .td1 {width:50px;font-size:14px;color:#515151;font-weight:bold;}
.detail_box4_wrap .payment_option > div:nth-child(2) table .td2 > div select {width:350px;height:38px;border:1px solid #c2c2c2;}
.detail_box4_wrap .payment_option > div:nth-child(2) table .td3 {font-size:14px;font-weight:bold;line-height:30px;}
.detail_box4_wrap .payment_option > div:nth-child(2) table .td3 .radio_bt {width:17px;height:17px;}

.detail_box4_wrap .delivery_method {margin-top:55px;}
.detail_box4_wrap .delivery_method .step_sub_title > div:last-child {color:#494949}

.detail_box4_wrap .delivery_method .method_box {height:106px;border-top:2px solid #8d8d8d;border-bottom:2px solid #8d8d8d;margin-top:25px;}
.detail_box4_wrap .delivery_method .method_box > div {float:left;height:100px;}

.detail_box4_wrap .delivery_method .method_box > div:first-child {width:240px;background-color:#f5f5f5;text-align:center;}
.detail_box4_wrap .delivery_method .method_box > div:first-child > div:first-child {padding-top:30px;font-size:18px;color:#3f3f3f;font-weight:bold;}
.detail_box4_wrap .delivery_method .method_box > div:first-child > div:nth-child(2) {padding-top:10px;font-size:14px;color:#808080;}

.detail_box4_wrap .delivery_method .method_box > div:nth-child(2) {padding:13px 0 0 49px;}
.detail_box4_wrap .delivery_method .method_box > div:nth-child(2) table td {line-height:40px;}
.detail_box4_wrap .delivery_method .method_box > div:nth-child(2) table td.td1 {width:95px;font-size:14px;color:#515151;font-weight:bold;}
.detail_box4_wrap .delivery_method .method_box > div:nth-child(2) table td.td1 .radio_bt {width:17px;height:17px;}


