@charset "UTF-8";

.sub_navi_text > div {
    background: url(/image/S_navi_home.gif) 0 50% no-repeat;
    padding-left: 20px;
    font-size: 13px;
    color: #6e6e6e;
}
.sub_title_main {
    font-size: 24px;
    color: #f76c87;
    font-weight: bold;
    padding: 0px 20px 20px 4px;
}
.step_txt {
    color: #919191;
    font-size: 14px;
    line-height: 25px;
}
.input_table th {
    height: 30px;
    background-color: #f8f8f8;
    font-size: 15px;
    color: #447b9a;
    font-weight: bold;
    text-align: center;
}
.input_table th, .input_table td {
    border: 1px solid #c6c6c6;
}
.input_table td.td2 {
    padding: 10px 20px;
}
.input_table td {
    height: 30px;
    font-size: 14px;
    color: #565656;
    line-height: 25px;
    padding-right: 30px;
}
.select_add {
    height: 26px;
    border: 1px solid #c2c2c2;
}
body, td{
    color: #00000;
    font-size: 12px;
    line-height: 1.2;
    font-family: "Nanum Gothic","����", Dotum, "����", Gulim, Verdana, AppleGothic, sans-serif;
}
.sub1_title {
    font-size: 20px;
    color: #3f3f3f;
    font-weight: bold;
    padding-right: 28px;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.next_button {
    background-color: #5b95e5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}
.cancel_button {
    background-color: #535353;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.olmessagef {color: red; font-style: Italic;}
.olmessaget {color: blue; font-style: Italic;}