@charset "UTF-8";


/* 고객센터 css */
.schedule_board_list th {height:39px;border:1px solid #dddddd;border-right:0;text-align:center;font-size:14px;color:#3f3f3f;font-weight:bold;background-color:#f5f5f5;}
.schedule_board_list th.number {width:69px;border-left:0;}
.schedule_board_list th.date {width:127px;}
.schedule_board_list th.hit {width:96px;}

.schedule_board_list td {height:39px;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;text-align:center;font-size:14px;color:#3f3f3f;}
.schedule_board_list td.number {width:69px;border-left:0;}
.schedule_board_list td.subject {text-align:left;padding-left:30px;}
.schedule_board_list td.date {width:127px;font-size:12px;}
.schedule_board_list td.hit {width:96px;font-size:12px;}
.schedule_board_list td a {color: black;}
.number span {color: pink;}
.subject b:hover {color: pink;}
.subject a:hover {color: pink;}
#notice_page_move a {color: black;}
#notice_page_move a:hover {color: pink;}
button {cursor:pointer;}

/* 공지사항,배송스케줄 조회 페이지로 이동하는 버튼 색상 */
#return:hover {color: pink;}

/* 자주하는 질문 css */
.faqSort {background: #D2E1FF; color: black; height: 20mm;font-size: 16px; padding-top: 23px;}
.subject a:hover {color:pink;}
.faqSortList li {height: 8mm; margin-left: 3mm;}
.faqSortList {background-color: #dcdcdc; flex: auto; height: 180px;}
.faqSortM {margin: 0px 3px 0px 3px;}
.faqSortList li a {font-weight: bold; color: black;}
.faqSortList li a:hover {color: red;}
.faqSortList li div:hover {color: red; cursor: pointer;}
.faqSortList li div {font-weight: bold;}
.faqList{width: 235mm; padding-left: 3px; margin-top: 10mm}
.faqList div{background: #f3f3f3;}
.faqList div h4ㅇ{color: green;}

/* faqRegister */
.faqLeft {width: 30mm; height: 20mm; text-align: center;}
.faqRight {margin-left: 10mm}

/* 관리자페이지 1:1문의 답변 조회 */
.personal_question_list th {height:39px;border:1px solid #dddddd;border-right:0;text-align:center;font-size:14px;color:#3f3f3f;font-weight:bold;background-color:#f5f5f5;}
.personal_question_list th.number {width:10px;border-left:0;}
.personal_question_list th.userId {width:28px;}
.personal_question_list th.date {width:50px;}

.personal_question_list td {height:39px;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;text-align:center;font-size:14px;color:#3f3f3f;}
.personal_question_list td.number {width:10px;border-left:0;}
.personal_question_list td.userId {width:28px;font-size:14px;}
.personal_question_list td.subject {text-align:left;padding-left:30px; width: 50%}
.personal_question_list td.date {width:50px;font-size:14px;}
.personal_question_list td a {color: black;}


