<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
<meta charset="UTF-8">
</head>
<body layout:fragment="adminContent">
	 <div class="content-wrapper">
   <!-- private String buyOrderCode; 구매대행주문코드
		private String id; 			  아이디
		private String transportation;운송방법
		private String nation;			국가
		private String orderNum; 		주문번호
		private String userName;		이름
		private String phone;			전화번호
		private String postNum; 		우편번호
		private String addr;			주소
		private String totalPrice;		총 금액
		private String goodsOrderDate;	(배송)주문등록날짜
		private String step3;			임시 저장 여부
		private String DesiredCourier;  희망택배사
		private String buyWay;			구매 방식
		private String request;			고객요청사항
		private String friendsDeCheck;	프렌즈 구매대행 대행자가 수락했는지 여부
		private int commission;     	프렌즈 구매대행 이용자가 정한 수수료 -->
		<h2 th:text="${title}"></h2>
	 	<table class="input_table" style="width:100%;">
	 		<tr>
	 			<th>주문서코드</th>
	 			<th>아이디</th>
	 			<th>이름</th>
	 			<th>운송방법</th>
	 			<th>국가</th>
	 			<th>주문번호</th>
	 			<th>전화번호</th>
	 			<th>총 금액</th>
	 			<th>주소</th>
	 			<th>(배송)주문등록날짜</th>
	 		</tr>
	 		<tbody>
	 			<tr th:if="${not #lists.isEmpty(tempOrderList)}" th:each="l : ${tempOrderList}">
	 				<td th:text="${l.buyOrderCode}"></td>
	 				<td th:text="${l.id}"></td>
	 				<td th:text="${l.userName}"></td>
	 				<td th:text="${l.transportation}"></td>
	 				<td th:text="${l.nation}"></td>
	 				<td th:text="${l.orderNum}"></td>
	 				<td th:text="${l.phone}"></td>
	 				<td th:text="${l.totalPrice}"></td>
	 				<td th:text="${l.addr}"></td>
	 				<td th:text="${l.goodsOrderDate}"></td>
	 			</tr>
	 			<tr th:unless="${not #lists.isEmpty(tempOrderList)}">
	 				<td colspan="10" style="text-align: center;">등록된 주문서가 없습니다.</td>
	 			</tr>
	 		</tbody>
	 	</table>
	 </div>
</body>
</html>