<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<style>
	
</style>
</head>
<body layout:fragment="content">

	<div class="orderList">
			<div class="orderCard2" th:if="${not #lists.isEmpty(friendsOrderList)}"th:each="l : ${friendsOrderList}">
				<img th:src="${l.goodsImgUpload}" style="width: 50%; height: 50%;"> </br>
				<hr>
				<a th:href="@{/goodsInfo(goodsInfoCode=${l.goodsInfoCode})}" th:text="${l.gName}">신발</a>
				<p th:text="${l.orderInfoDto.userName}"></p>
				<p th:text="${l.orderInfoDto.buyWay}"></p>
			</div>
</div>

</body>
</html>