<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
      
<head>
<style>
	
</style>
<script type="text/javascript">
	$(function(){
		$('.receiptBtn').click(function(){
			if(confirm('접수 하시겠습니까?') == true){
				alert('접수확인');
				location.href="/receiptPage";
			}else{
				alert('접수취소');
			}
		});
	});
</script>

</head>

<body layout:fragment="content">
	<div class="goodsInfo">
		<span class="goodsImg">
			<img th:src="${goodsInfoBy.goodsImgUpload}" style="width: 400px; height: 400px;">
			<!-- 14글자 제한 -->
			<label class="goodsImgText">
				<hr>
				<strong th:text="${goodsInfoBy.gName}">(14글자)</strong>
				<p th:text="${title}">상품 상세정보 내용</p>
				<hr>				
			</label>
			<div>
				<a href="/friendsOrderList"><button type="button" class="goListBtn">목록</button></a>
				<a href="#"><button type="button" class="receiptBtn">접수</button></a>
			</div>	
		</span>
	</div>
	
</body>
</html>