<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<style>
	.orderList{
		margin-left: 18%;
		margin-bottom: 25%;
	}
	.orderCard1{
		width: 50%;
		height: 100%;
		margin-bottom: 150%;
	}
	.orderCard2{
		border: 1px solid #dddddd;
		border-radius: 10px;
		width: 20%;
		font-size: 25px;
		float: left;
		margin: 10px;
		text-align: center;	
		padding: 10px;
		background-color:#f5f5f5;
	}
	.orderCard2 img{
		border: 1px solid #dddddd;
	 	width: 100%;
	 	height: 100%;
	 	
	}
</style>
</head>
<body layout:fragment="content">
	<div class="orderList">
		<span class="orderCard1">
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a th:href="@{/goodsInfo}">신발</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발2</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발3</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발4</a>
			</div>
		</span>
		<span class="orderCard1">
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발2</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발3</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발4</a>
			</div>
		</span>
		<span class="orderCard1">
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발2</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발3</a>
			</div>
			<div class="orderCard2">
				<img src="/image/sinbal.png"> </br>
				<a href="#">신발4</a>
			</div>
		</span>
		
	</div>
</body>
</html>