<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ks44team03.admin.mapper.CompanyInfoMapper">
	<!-- 회사 정보 -->
	<resultMap type="CompanyInfo" id="companyResultMap">
		<id column="ci_code" property="companyCode"/>
		<result column="company_number" property="companyNum"/>
		<result column="ci_name" property="companyInfoName"/>
		<result column="ci_delegate_num" property="companyDelegateNum"/>
		<result column="company_addr" property="companyAddr"/>
		<result column="company_cate" property="companyCate"/>
		<result column="company_birth" property="companyBirth"/>
		<result column="company_name" property="companyName"/>
	</resultMap>
	
	
	<!-- 사업장 정보 -->
	<resultMap type="WorkPlace" id="workPlaceResultMap">
		<id column="wp_code" property="workPlaceCode"/>
		<result column="wp_company_number" property="wpCompanyNumber"/>
		<result column="wp_company_name" property="workPlaceName"/>
		<result column="wp_name" property="workPlaceRepresentative"/>
		<result column="wp_delegate_num" property="workPlaceDelegateNum"/>
		<result column="wp_addr" property="workPlaceAddr"/>
		<result column="wp_cate" property="workPlaceCate"/>
		<result column="wp_birth" property="workPlaceBirth"/>
		<!-- <association property="companyInfoDto" javaType="CompanyInfo">
			<id column="ci_code" property="companyCode"/>
			<result column="company_number" property="companyNum"/>
			<result column="ci_name" property="companyInfoName"/>
			<result column="ci_delegate_num" property="companyDelegateNum"/>
			<result column="company_addr" property="companyAddr"/>
			<result column="company_cate" property="companyCate"/>
			<result column="company_birth" property="companyBirth"/>
			<result column="company_name" property="companyName"/>	
		</association> -->
	</resultMap>
	
	<!-- 부서 정보 -->
	<resultMap type="Department" id="departmentResultMap">
		<id column="de_code" property="departmentCode"/>
		<result column="wp_code" property="deWorkPlaceCode" />
		<result column="de_name" property="departmentName" />
		<result column="de_date" property="departmentDate" />
		<association property="workPlaceDto" javaType="WorkPlace">
			<id column="wp_code" property="workPlaceCode"/>
			<result column="wp_company_number" property="wpCompanyNumber"/>
			<result column="wp_company_name" property="workPlaceName"/>
			<result column="wp_name" property="workPlaceRepresentative"/>
			<result column="wp_delegate_num" property="workPlaceDelegateNum"/>
			<result column="wp_addr" property="workPlaceAddr"/>
			<result column="wp_cate" property="workPlaceCate"/>
			<result column="wp_birth" property="workPlaceBirth"/>
		</association>
	</resultMap>
	
	<!-- 사원 정보 -->
	<resultMap type="Employee" id="employeeResultMap">
		<id column="e_code" property="employeeCode"/>
		<result column="e_level_code" property="employeeLevelCode"/>
		<result column="de_code" property="departmentCode"/>
		<result column="e_name" property="employeeName"/>
		<result column="e_pw" property="employeePw"/>
		<result column="e_date" property="employeeDate"/>
		<result column="resign_date" property="employeeResignDate"/>
		<association property="managementLevelDto" javaType="ManagementLevel">
			<id column="e_level_code" property="eLevelCode"/>
			<result column="e_level" property="eLevelName"/>
		</association>
	</resultMap>
	
	<!-- 사원권한 정보 -->
	<resultMap type="ManagementLevel" id="managementLevelResultMap">
		<id column="e_level_code" property="eLevelCode"/>
		<result column="e_level" property="eLevelName"/>
	</resultMap>
	
	
	<!-- 회사등록 -->
	<insert id="addCompany" parameterType="CompanyInfo">
		/* 회사등록 */
		INSERT INTO company_info
		(	
		  ci_code
  		 ,company_number
  		 ,ci_name
  		 ,ci_delegate_num
  		 ,company_addr
  		 ,company_cate
  		 ,company_birth
  		 ,company_name
		)
		VALUES 
		(#{companyCode}, #{companyNum}, #{companyInfoName}, #{companyDelegateNum}, #{companyAddr}, #{companyCate}, #{companyBirth}, #{companyName});
	</insert>
	
	<!-- 회사 목록 조회 -->
	<select id="getCompanyList" resultMap="companyResultMap">
		/* 회사 목록 조회 */
		SELECT
		   ci_code		
		  ,company_number	 
		  ,ci_name		 
		  ,REPLACE(ci_delegate_num,SUBSTRING_INDEX(ci_delegate_num,'-',-1),'*******') AS ci_delegate_num
		  ,company_addr	 
		  ,company_cate	
		  ,company_birth	
		  ,company_name	
		FROM 
			company_info
		ORDER BY CAST(SUBSTRING_INDEX(ci_code,'_code',-1) AS UNSIGNED);
	</select>
	<!-- 회사 목록 검색조회 -->
	<select id="getSearchCompanyList" parameterType="map" resultMap="companyResultMap" fetchSize="100">
		/* 회사 목록 검색조회 */
		SELECT
		   company_number
		  ,ci_name
		  ,company_name
		  ,company_addr
		  ,company_cate
		  ,company_birth
		FROM
			company_info
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>
		</trim>
		ORDER BY company_number;
	</select>
	<!-- 사업장 등록 -->
	<insert id="addWorkPlace" parameterType="WorkPlace">
		/* 사업장 등록 */
		INSERT INTO work_place
		(
		  wp_code
		 ,wp_company_number
		 ,wp_company_name
		 ,wp_name
		 ,wp_delegate_num
		 ,wp_addr
		 ,wp_cate
		 ,wp_birth
		 )
		VALUES 
		(#{workPlaceCode}, #{wpCompanyNumber}, #{workPlaceName}, #{workPlaceRepresentative}, #{workPlaceDelegateNum}, #{workPlaceAddr}, #{workPlaceCate}, #{workPlaceBirth});
	</insert>	
	<!-- 사업장 목록 조회 -->
	<select id="getWorkPlaceList" resultMap="workPlaceResultMap">
		/* 사업장 목록 조회 */
		SELECT
		   wp_code
		  ,wp_company_number
		  ,wp_company_name
		  ,wp_name
		  ,wp_delegate_num
		  ,wp_addr
		  ,wp_cate
		  ,wp_birth
		FROM
			work_place
		ORDER BY CAST(SUBSTRING_INDEX(wp_code,'_code',-1) AS UNSIGNED);
	</select>
	<!-- 사업장 목록 검색조회 -->
	<select id="getSearchWorkPlaceList" parameterType="map" resultMap="workPlaceResultMap" fetchSize="100" >
		/* 사업장 목록 검색조회 */
		SELECT
		   wp_company_number
		  ,wp_company_name
		  ,wp_name
		  ,wp_addr
		  ,wp_cate
		  ,wp_birth
		FROM
			work_place
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>
		</trim>
		ORDER BY wp_company_number;
	</select>
	<!-- 부서 등록 -->
	<insert id="addDepartment" parameterType="Department">
		/* 부서 등록 */
		INSERT INTO department
			(
			 de_code
			,wp_code
			,de_name
			,de_date
			)
		VALUES 
			(#{departmentCode}, #{deWorkPlaceCode}, #{departmentName}, CURDATE());
	</insert>
	
	<!-- 부서 목록 조회 -->
	<select id="getDepartmentList" resultMap="departmentResultMap">
		/* 부서 목록 조회 */
		SELECT
		   w.wp_company_name
		  ,d.de_code
		  ,d.de_name
		  ,d.de_date
		FROM
			department AS d
			INNER JOIN 
			work_place AS w
			ON
			d.wp_code = w.wp_code
		ORDER BY w.wp_company_name ASC;
	</select>
	<!-- 부서 목록 검색조회 -->
	<select id="getSearchDepartmentList" parameterType="map" resultMap="departmentResultMap" fetchSize="100">
		/* 부서 목록 검색조회 */
		SELECT
			 w.wp_code
			,w.wp_company_name
		    ,d.de_code
			,d.de_name
			,d.de_date
		FROM
			department AS d
			INNER JOIN
			work_place AS w
			ON
			d.wp_code = w.wp_code
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="searchValue != null and searchValue != ''">
					${searchKey} LIKE CONCAT('%', #{searchValue},'%')
				</if>
			</trim>
		ORDER BY d.de_code;
	</select>
	<!-- 사원 등록 -->
	<insert id="addEmployee" parameterType="Employee">
		/* 사원 등록 */
		INSERT INTO employee_info
			(
			 e_code
			,e_level_code
			,de_code
			,e_name
			,e_pw
			,e_date
			)
		VALUES (#{employeeCode}, #{employeeLevelCode}, #{departmentCode}, #{employeeName}, #{employeePw}, CURDATE());
		
	</insert>
	
	<!-- 사원 목록 조회 -->
	<select id="getEmployeeList" resultMap="employeeResultMap">
		/* 사원 목록 조회 */
		SELECT
		   e.e_code
		  ,e.e_level_code
		  ,e.de_code
		  ,e.e_name
		  ,e.e_pw
		  ,e.e_date
		  ,e.resign_date
		  ,m.e_level
		FROM
			employee_info AS e
			INNER JOIN 
			management_level AS m
			ON 
			e.e_level_code = m.e_level_code
		ORDER BY CAST(SUBSTRING_INDEX(e_code,'_code',-1) AS UNSIGNED);
	</select>
	<!-- 사원 목록 검색조회 -->
	<select id="getSearchEmployeeList" parameterType="map" resultMap="employeeResultMap" fetchSize="100">
		/* 사원 목록 검색조회 */
		SELECT
		   e.e_code
		  ,e.e_level_code
		  ,e.de_code
		  ,e.e_name
		  ,e.e_pw
		  ,e.e_date
		  ,e.resign_date
		  ,m.e_level
		FROM
			employee_info AS e
			INNER JOIN
			management_level AS m
			ON
			e.e_level_code = m.e_level_code
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="searchValue != null and searchValue != ''">
					${searchKey} LIKE CONCAT('%', #{searchValue},'%')
				</if>
			</trim>
		ORDER BY e.e_code;
	</select>
	<!-- 권한 목록 조회 -->
	<select id="getManagementLevelList" resultMap="managementLevelResultMap">
		SELECT
		   e_level_code
		  ,e_level
		FROM
			management_level;
	</select>
	
</mapper>