<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks44team03.common.mapper.CouponMapper">
	<resultMap type="CouponList" id="couponListResultMap">
		<id column="c_code" property="couponCode"/>
		<result column="c_name" property="couponName"/>
		<result column="c_price" property="couponPrice"/>
		<result column="c_date" property="couponDate"/>
	</resultMap>
	
	<resultMap type="Coupon" id="couponResultMap">
		<id column="cs_code" property="csCode"/>
		<result column="c_code" property="cCode"/>
		<result column="u_id" property="userId"/>	
		<result column="c_date" property="cDate"/>	
		<result column="c_e_date" property="cEDate"/>	
		<result column="c_use_date" property="cUseDate"/>			
		<result column="c_use" property="cUse"/>
			<association property="couponInfo" javaType="CouponList">
				<id column="c_code" property="couponCode"/>
				<result column="c_name" property="couponName"/>
				<result column="c_price" property="couponPrice"/>
				<result column="c_date" property="couponDate"/>
			</association>
	</resultMap>
	
	<!-- 쿠폰 보유 리스트에서 검색  -->
	<select id="couponSearch" parameterType="map" resultMap="couponResultMap">
	/* 쿠폰 보유 리스트에서 검색 */
	SELECT
		cs.cs_code
		,cs.c_code
		,c.c_name
		,cs.u_id
		,cs.c_date
		,cs.c_e_date
		,cs.c_use_date
		,cs.c_use
	FROM
		coupon AS c
		INNER join
		coupon_status AS cs
		on
		c.c_code = cs.c_code
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="sv != null and sv != ''">
			${sk} LIKE CONCAT('%',#{sv},'%')
		</if>
	</trim>
	order by
		cs.cs_code
	</select>
	
	
	<!-- 회원이 보유한 쿠폰 리스트 확인 -->
	<select id="couponUserList" resultMap="couponResultMap">
	/* 회원이 보유한 쿠폰 리스트 확인  */	
	SELECT
		cs.cs_code
		,cs.c_code
		,c.c_name
		,cs.u_id
		,cs.c_date
		,cs.c_e_date
		,cs.c_use_date
		,cs.c_use
	FROM
		coupon AS c
		INNER join
		coupon_status AS cs
		on
		c.c_code = cs.c_code
	</select>
	
	<!-- 쿠폰 등록 -->
	<insert id="couponAdd" parameterType="CouponList">
	/* 쿠폰 등록 */
	INSERT INTO coupon
	(c_code, c_name, c_price, c_date)
	VALUES (#{couponCode}, #{couponName}, #{couponPrice}, CURDATE())
	</insert>

	<!-- 관리자 페이지에서 등록된 쿠폰 리스트 확인 -->
	<select id="couponList" resultMap="couponListResultMap">
	/* 관리자 페이지에서 등록된 쿠폰 리스트 확인 */
	select
		c_code
		,c_name
		,c_price
		,c_date
	from
		coupon
	</select>

</mapper>