<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team03.user.mapper.OrderMapper">
	<!-- GoodsInfo DTO -->
	<resultMap type="GoodsInfo" id="goodsInfoResultMap">
	
		<id column="goods_info_code" property="goodsInfoCode"/>
		<result column="id" property="id"/>
		<result column="buy_order_code" property="buyOrderCode"/>
		<result column="grouping_delivery" property="groupingDelivery"/>
		<result column="g_site" property="gSite"/>
		<result column="goods_img_url" property="goodsImgUrl"/>
		<result column="goods_img_upload" property="goodsImgUpload"/>
		<result column="g_name" property="gName"/>
		<result column="delivery_company" property="deliveryCompany"/>
		<result column="tracking_num" property="trackingNum"/>
		<result column="g_size" property="gSize"/>
		<result column="g_color" property="gColor"/>
		<result column="goods_option" property="goodsOption"/>
		<result column="goods_price" property="goodsPrice"/>
		<result column="g_amount" property="gAmount"/>
		<result column="total_price" property="totalPrice"/>
		<result column="likey_pass" property="likeyPass"/>
		<result column="barcode" property="barCode"/>
		<result column="arrival" property="arrival"/>
		<result column="arrival_date" property="arrivalDate"/>
		<result column="hscode" property="hsCode"/>
		<result column="g_brand" property="gBrand"/>
		<result column="goods__url" property="goodsUrl"/>
		<result column="store_name" property="storeName"/>
		<result column="store_location" property="storeLocation"/>
		<!-- 전역변수값이 프로퍼티고 자바타입이 클래스데이터타입 -->
		<association property="orderInfoDto" javaType="OrderInfo">
			<id column="buy_order_code" property="buyOrderCode"/>
			<result column="id" property="id"/>
			<result column="transportation" property="transportation"/>
			<result column="nation" property="nation"/>
			<result column="order_num" property="orderNum"/>
			<result column="user_name" property="userName"/>
			<result column="phone" property="phone"/>
			<result column="post_num" property="postNum"/>
			<result column="addr" property="addr"/>
			<result column="total_price" property="totalPrice"/>
			<result column="goods_order_date" property="goodsOrderDate"/>
			<result column="temp" property="temp"/>
			<result column="Desired_courier" property="DesiredCourier"/>
			<result column="buy_way" property="buyWay"/>
			<result column="request" property="request"/>
			<result column="friends_de_check" property="friendsDeCheck"/>
			<result column="commission" property="commission"/>
			<result column="Personal_Customs_Clearance_Code" property="PersonalCustomsClearanceCode"/>
			<result column="personal_use" property="personalUse"/>
			<result column="trading" property="trading"/>
		</association>
		<association property="optionDto" javaType="Option">
			<id column="option_code" property="optionCode"/>
			<result column="buy_order_code" property="buyOrderCode"/>
			<result column="option_select" property="optionSelect"/>
		</association>
		<association property="userInfoDto" javaType="UserInfo">
			<id column="u_id" property="uId"/>
			<result column="user_grade_code" property="uGradeCode"/>
			<result column="u_pw" property="uPw"/>
			<result column="user_pobox_code" property="uPostCode"/>
			<result column="u_name" property="uName"/>
			<result column="u_level" property="uLevel"/>
			<result column="u_addr" property="uAddr"/>
			<result column="u_email" property="uEmail"/>
			<result column="u_birth" property="uBirth"/>
			<result column="u_phone" property="uPhone"/>
			<result column="u_nick" property="uNick"/>
			<result column="u_insert_date" property="uInsertDate"/>
			<result column="u_dormant" property="uDormant"/>
			<result column="pay_completed_count" property="payCompletedCount"/>
			<result column="friends_account" property="friendsAccount"/>
			<result column="bank_name" property="bankName"/>
		</association>
	</resultMap>
	
	
	<insert id="addOrderInfo" parameterType="ApplicationInfo">
		/* 주문서 작성시 db에 정보 추가 */
		
		
		
	</insert>

</mapper>