<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout/adminDefault_layout}">
<head>
<style>
	td{
		border: 1px solid;
		padding: 10px;
	}
	input{
		padding: 10px;
	}
	#adminLoginBtn{
		float: right;
	}
</style>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
   $(function(){
      $(document).on('click', '.incoming_modal_open', function(){
         $('.modal').css('display', 'block');
      /*    $('ul').css('display','none');
         $('nav').css('position','fixed'); */

         
      });
      $(document).on('click', '#incoming_modal_close', function(){
         $('.modal').css('display', 'none');
      });
   });
</script>

</head>
	
	<!-- default_layout.html에 정의한 main page 부분 -->
	<body layout:fragment="adminContent">
    	<!-- partial --><!-- 컨텐츠 -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
             	<h2>관리자 페이지 입니다.</h2>
             	<a th:href="@{/}">홈으로</a> <!-- 컨텐츠? -->
             	<h3 th:text="${session.SID}"></h3>
             	<form id="adminLoginForm" th:action="@{/adminLogin}" method="post">
             	<table border="1">
             		<tr>
             			<td>
             				사원코드<input type="text" name="aId" placeholder="사원코드">
             			</td>
             		</tr>
             		<tr>
             			<td>
             				비밀번호<input type="password" name="aPw" placeholder="비밀번호">
             			</td>
             		</tr>
             		<tr>
             			<td>
             				<button type="submit" id="adminLoginBtn">로그인</button>
             			</td>
             		</tr>
             	</table>
             </form>
            <a th:href="@{/adminLogout}">로그아웃</a>
           <!-- <button class="incoming_modal_open" style="margin-left: 50px; padding: 50px;">모달테스트</button> -->
             <div class="modal">
               <div class="incoming_modal_content">
                  <h1 style="text-align: center;">모달테스트</h1>
                  	<table class="input_table">
                  		<tr>
                  			<th>a</th>
                  			<th>a</th>
                  			<th>a</th>
                  			<th>a</th>
                  			<th>a</th>
                  			<th>a</th>
                  			<th>a</th>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		<tr>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  			<td>a</td>
                  		</tr>
                  		
                  	</table>
                 
                  
                 <div class="incoming_modal_button" align="center">
                     <button type="button" id="incoming_modal_reg" class="add_button">등록</button>
                     <button type="button" id="incoming_modal_close" class="cancel_button">취소</button>
                 </div>
                  
               </div>
               <div class="incoming_modal_layer"></div>
            </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html
        partial -->
      </div>
      <!-- main-panel ends --><!-- 컨텐츠 끝 -->
      

    </body>
    
</html>
